@import "common";

.Footer-block {
  font-size: 15px;

  &__link, &__text {
    display: block;
  }

  &__link{
    color: $key-color;
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__text--up, &__link--up {
    margin-bottom: 10px;
  }

  &__svg {
    fill: #28a745;
  }
}