.Article-summary {
  font-size: 21px;

  &__title {
    margin: 27px 0 11px 0;
  }
  &__text{
    font-weight: lighter;
    margin: -6px 0 0 0;
  }
  &__figure {
    margin: 0;
  }
  &__image {
    width: 252px;
    height: 252px;
  }
  &__figcaption {
    font-size: 15px;
  }
}
