.Book-covers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;

  &__cover {
    margin: 50px 18px 0 0;

    &--rightmost{
      margin: 50px 0 0 0;
    }
  }
  &__cover-image{
    width: 207px;
    height: 293px;
    margin-bottom: 10px;

    &--wide{
      width: 433px;
    }
  }
  &__figcaption {
    font-size: 15px;

    &--bold{
      font-weight: bold;
    }

    &--centered{
      text-align: center;
    }
  }
}
