.Half-paged-images-row{
  &__image-container{
    position: relative;
  }
  &__image{
    width: 100%;

    &--inside{
      position: absolute;
      top: -9.8%;
      bottom: 0;
      left: -1.4%;
      right: 0;

      &--overflowed{
        width: 104%;
        top: -2%;
      }
    }
  }
}