.Header{
  display: flex;

  &__logo{
    padding: 1px;
    margin-left: 9px;
  }

  &__navigation{
    flex: 1;
    margin-top: -8px;
    margin-left: 10px;
  }

  &__user-icon{
    width: 32px;
    height: 30px;
    margin-right: 9px;
  }

  &__announce{
    position: absolute;
    top: 20px;
    left: calc(6% + 478px);
  }
}