.Main-block{
  &__image-container{
    position: relative;
  }
  &__image{
    width: 100%;

    &--inside{
      position: absolute;
      top: -2%;
      bottom: 0;
      left: -2%;
      right: 0;
      width: 104%;
    }
  }
}