.One-image-row{
  &__image-container{
    position: relative;
  }
  &__image{
    width: 100%;

    &--inside{
      position: absolute;
      top: -3%;
      bottom: 0;
      left: 1%;
      right: 0;

      &--overflowed{
        width: 104%;
        top: -5%;
        left: 0;
      }
    }
  }
}