@import "variables";

.School-recruitment{
  margin-top: 72px;

  &__logos{
    display: flex;
    align-items: center;
  }
  &__logo{

    margin-right: 10px;
    &--designers{
      margin-top: -17px;
      width: 54px;
      height: 62px;
    }

    &--editors{
      width: 43px;
      height: 46px;
    }

    &--managers{
      width: 44px;
      height: 45px;
      margin-right: 0;
    }
  }

  &__title{
    font-size: 60px;
    color: @key-color;
    font-weight: lighter;
    margin: 0;
  }

  &__school-start{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  &__preparatory-courses{
    font-size: 21px;
    margin: 18px 0 4px 0;
  }

  &__enroll-link{
    font-size: 15px;
  }

  &__disabled{
    font-size: 15px;
    opacity: .14;
  }
}