@import "variables";

.Selections-caption{
  color: @key-color;
  font-weight: lighter;

  &__text{
    font-size: 14px;
  }

  &__number{
    display: inline-block;
    padding: 0 2px;
    margin-left: 4px;
    min-width: 15px;
    height: 15px;
    border-radius: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    background: @key-color;
  }
}
