@background-color: #fff;
@link-color: #065580;
@link-underline-color: rgba(6, 85, 128, .1);
@key-color: rgb(226, 0, 22);
@key-underline-color: rgba(226, 0, 22, .1);
@text-color: #000;
@text-underline-color: rgba(0, 0, 0, .07);
@selection-color: #000;
@selection-text-color: rgb(107, 115, 126);