@grid-columns-number: 12;
@grid-width: 960px;
@cell-width: 70px;
@cell-margin: (
  (@grid-width - (@cell-width * @grid-columns-number))/ (@grid-columns-number -
        1)
);

.Grid {
  width: @grid-width;
  margin: 0 auto;
  background-color: #007ed9;

  &__row{
    display: grid;
    grid-template-columns: repeat(@grid-columns-number, @grid-width);
    grid-column-gap: @cell-margin;
  }

  &__cell {
    background-color: #003b66;
    .generate-columns(@grid-columns-number; @i:1)
    when
    (@i <= @grid-columns-number) {
      .generate-columns(
              @grid-columns-number; (@i + 1)
      );
      &_@{i} {
        grid-column-end: @i * 2;
      }
    }
    .generate-columns(@grid-columns-number; @cell-width);

    .generate-push(@grid-columns-number; @cell-width; @cell-margin; @i:1)
    when
    (@i < @grid-columns-number) {
      .generate-push(@grid-columns-number; @cell-width; @cell-margin; (@i + 1));
      &_push-@{i} {
        margin-left: @cell-width * @i + (@cell-margin * (@i - 1)) + @cell-margin;
      }
    }
    .generate-push(@grid-columns-number; @cell-width; @cell-margin;);

    &_alpha {
      margin-left: 0;
    }

    &_omega {
      margin-right: 0;
    }
  }
}
