<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ReadInFlight</title>
    <link rel="stylesheet" href="/variables.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/home/banner.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/home/content.css">
</head>
<body>
<main>
    <header class="header layout__header">
        <h1 class="header__logo" href="#" aria-label="start-page-link">ReadInFlight</h1>
        <form
                class="search-form header__search-form"
                action="/search"
                method="get"
                aria-label="Search form"
        >
            <input
                    class="search-form__input-field"
                    type="text"
                    name="search"
                    placeholder="Search"
            />
        </form>
        <nav class="header__login_navigation" aria-label="login-options">
            <a href="/log-in" class="header__login-link header__login-link_log-in" aria-label="log-in button">Log In</a>
            <a href="/sign-up" class="header__login-link header__login-link_sing-up" aria-label="sign-up button">Sign Up</a>
        </nav>
    </header>


    <section class="section banner_section">
        <img src="/home_banner_pic.jpg" class="banner_section__image" alt="girl-reading-book-in-plane">
        <div class="banner_section__phrase">
            <p class="banner_section__phrase_text" aria-label="inspiring-phrase">Enjoy your flight with book!</p>
        </div>
    </section>

    <section class="section content_section">
        <article class="content_section__main-idea">
            <h2 class="content_section__main-idea_header">Project idea</h2>
            <p class="content_section__main-idea_text">Idea of the project... Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Amet labore mollitia numquam omnis sapiente temporibus unde vel?
                Accusantium assumenda dolorem, dolorum ea eaque earum minima pariatur quis reprehenderit sed voluptates!</p>
        </article>

        <article class="content_section__how-to-join">
            <h2 class="content_section_how-to-join_header">How to join</h2>
            <p class="content_section_how-to-join_text">Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. A atque, beatae doloribus enim expedita harum, magnam nobis placeat quo reiciendis,
                ut velit. Aspernatur autem cupiditate eaque ex sequi, sit tempore.</p>
        </article>
    </section>



    <footer class="footer layout_footer">
        <p class="footer_text">© 2019 ReadInFlight.</p>
    </footer>
</main>
</body>
</html>