.header__logos__lang {
    float: right;
    padding: 14px 15px 0 0;
    box-sizing: border-box;
    text-align: right;

    &_link {
        font: 10px/11px Proxima Nova, sans-serif;
        font-weight: bold;
        color: #717686;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        margin: 0 0 0 7px;
        vertical-align: top;
        transition: all 0.2s ease 0s;
    }
}

.lang-active {
    text-decoration: underline;
    color: #fff;
}