.header {
    display: block;

    &__logos {
        min-height: 150px;
        position: relative;
        z-index: 1000;
        background: #24262c;
    }

    &__logos_navi {
        width: 130px;
        height: 117px;
        display: block;
        margin: 16px 25px;
        float: left;
    }

    &__logos_navi_bg {
        background: url("../../images/logos/all_logos.png");
        background-position: -12376px 0;
    }

}