.footer__list {
    margin: 0 0 32px 0;
}

.footer__list-item {
    margin-top: 0;
    list-style-type: none;
    padding: 4px 0;
}


.footer__list-item:hover  {
    text-decoration: underline white;
}

.footer__list-item:first-child {
    margin-top: 0;
}
