$curve_color: red;

.Bezier-Visualization {
  text-align: center;

  &__title {
    font-size: 45px;
    font-family: Monospaced, monospace;
  }

  &__drawing-field {
    margin: 0 auto;
    border: 1px #9a9899 solid;
  }

  &__curve {
    fill: none;
    stroke: $curve_color;
    stroke-width: 4px;
  }

  &__pivots {
    fill: none;
    stroke-width: 1px;
  }

  &__stationary-line {
    fill: none;
    stroke: #c6cbd1;
    stroke-width: 1px;
  }

  &__leading-point {
    fill: $curve_color;
  }
}
