.main-content__header-section {
	padding-top: 24px;
	background-image: url("https://www.mozilla.org/media/img/firefox/accounts/fxa-hero-img.d86392a86cc4.png");
    background-size: 584px 389px;
    background-position:85% bottom;
    background-repeat: no-repeat;
    padding-left:96px;
	padding-right: 96px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1420px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    text-align: left;
    min-height: 405px;
}

.main-content__header-name {
    grid-column-end: span 12;
    margin-bottom: 48px;
    padding-left: 48px;
    text-align: left;
    position: relative;
    line-height: 40px;
    display: block;
    color: black;
    background: url("https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png") top left no-repeat;
    background-position-x: left;
    background-position-y: top;
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    font-weight: 400;
}

.main-content__header-motto {
    grid-column-end: span 12;
    display: inline-block;
    font-size: 3rem;
    line-height: 1.083;
    margin-bottom: 32px;
}

.main-content__header-message {
    grid-column-end: span 12;
    font-size: 1.5rem;
    line-height: 1.083;
    margin-bottom: 32px;
}

.header-paragraph {
    grid-column-end: span 12;
    margin-top: 24px;
    text-align: left;
}


.header-paragraph__link {
    background-color: transparent;
    color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2px;
    border: 2px solid #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 14px 30px;
    text-decoration: none;
}

.header-paragraph__link:hover {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    background-color: #fff;
    box-shadow: 4px 4px 0 0 #000;
    color: #000;
}
