@import "../../variables";
@aside-width: 300px;
@main-block-width: @max-content-width - @navigation-width - @aside-width -
  @padding;
@main-block-width--min: 450px;

.Layout {
  display: grid;
  grid-template-columns: auto @navigation-width minmax(auto, @main-block-width) @aside-width auto;
  grid-template-rows: @header-height auto @footer-height;

  &__header {
    grid-area: ~"1/1/2/6";
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__navigation {
    grid-column-start: 2;
    padding: @padding 0 0 0;
  }

  &__sticky-navigation {
    position: sticky;
    top: @header-height + @padding;
    margin: 0 0 0.75em 0;
  }

  &__main-block {
    min-width: @main-block-width--min;
    padding: @padding @padding @padding 0;
    border-left: 1px solid #d6d9dc;
  }

  &__aside {
    padding: @padding 0 0 0;
  }

  &__footer {
    grid-area: ~"3/1/4/6";
  }
}
