.top-navigation-bar {
    display: block;
    width: 100%;
    margin: 15px auto 0 auto;
    padding: 0 96px;
    max-width: 1228px;
}

.top-navigation-bar__img {
    float: left;
    padding-top: 5px;
    line-height: 1.5;
	width: auto;
	height: auto;
    margin-right: 29px;
	margin-top: 6px;
}

.top-navigation-bar__list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    line-height: 1.5;
    width: 100%;
    position: relative;

}

.top-navigation-bar__list-item {
    float: left;
    display: inline-block;
    box-sizing: content-box;
    line-height: 1.5;
	margin-top: 15px;
	padding: 0;
}

.top-navigation-bar__link {
    text-decoration: none;
    text-underline: none;
	padding: 0 24px 24px;
	color: black;
    padding-left: 15px;
    line-height: 1.5;
    font-size: 1em;
    font-weight: 400;
    position: relative;
	align-items: center;
	display: flex;
}

.top-navigation-bar__list-item:hover {
    box-shadow: 0px -1px 0px black inset;
}

.top-navigation-bar__list-item:first-of-type {
	margin-left: 10px;
}

.top_navigation_bar__button {
    background-color: transparent;
    color: #0060df;
    padding: 8px 16px;
    font-size: 1.2rem;
    border-radius: 2px;
    border: 2px solid #0060df;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 5px;
}

.top_navigation_bar__button:hover {
    background-color: #0060df;
    color: white;

}
.top_navigation_bar__download-link {
	float: right;
}
.top-navigation-bar:after {
	content: "";
	clear: both;
	display: table;
}
