.Header__search{
    border-radius: 4px;
    border: 1px solid transparent;
    width: 200px;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
}

.Header__search-icon{
    position: absolute;
    top: calc(50% - 11px);
    height: 18px;
    margin-left: 16px;
}

.Header__icon-arrow{
    height: 20px;
    margin-top: -10px;
    pointer-events: none;
    position: absolute;
    right: 8px;
    top: 50%;
    width: 20px;
}

#Header__search-bar{
    background-color: rgb(39, 39, 41);
    color: rgb(215, 218, 220);
    height: 36px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(52, 53, 54);
    outline: none;
    padding: 0 16px 0 40px;
}