body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: OpenSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, dd, dt, dl, p, blockquote {
    margin: 0;
}

h2 {
    line-height: 2rem;
    font-size: 1.6rem;
    font-weight: 300;
    color: #4a4a4a;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
