@arrow-size: 40px;
.carousel {
  position: relative;

  &__courses-wrapper {
    box-sizing: border-box;
    overflow: hidden;
    padding: 4px;
  }

  &__courses-movable-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    transition-property: transform;
  }

  &__swap-button {
    height: @arrow-size;
    background-color: transparent;
    background-size: @arrow-size @arrow-size;
    background-position: center;
    background-repeat: no-repeat;

    &_left {
      background-image: url("../images/left-arrow.svg");
    }

    &_right {
      background-image: url("../images/right-arrow.svg");
    }
  }

  @nav-button-size: 12px;

  &__navigation-button {
    height: @nav-button-size;
    width: @nav-button-size;
    margin: 0 @nav-button-size / 2;
    padding: 0;
    border: 1px solid #9b9b9b;
    border-radius: 100%;
    background: inherit;

    &_active {
      height: @nav-button-size * 2 / 3;
      width: @nav-button-size * 2 / 3;
      background: #9b9b9b;
    }
  }
}