.course-details {
  width: 320px;
  padding: 1.5rem 1.5rem 5rem;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(31, 31, 31, 0.16), 0 3px 10px rgba(31, 31, 31, 0.23);
  z-index: 500;
  position: fixed;

  &__provider-logo {
    height: 3rem;
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    margin-bottom: 0.7rem;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0.7rem 0;
  }

  &__syllabus-button {
    color: #ffffff;
    background-color: #2073d4;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    height: 2.2rem;
    width: 8.5rem;
    margin-top: 0.5rem;
  }

  &__info-container {
    margin: 1rem 0;
    border-top: 1px solid hsla(0, 0%, 73%, 0.75);
    border-bottom: 1px solid hsla(0, 0%, 73%, 0.75);;
  }

  &__info {
    margin: 0.7rem;
    padding-left: 2.5rem;
    background-size: 1.2rem;
    background-repeat: no-repeat;
    background-position: 0.3rem center;
  }

  &__info_online {
    background-image: url("../images/world-symbol.svg");
  }

  &__info_level {
    background-image: url("../images/level-bars.svg");
  }

  &__info_timings {
    background-image: url("../images/clock.svg");
  }

  &__skills {
    font-size: 0.8rem;
  }

  &__skills-header {
    margin-bottom: 0.3rem;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__rating-container{
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    margin: 1rem 0;
  }

  @star-size: 1.2rem;

  &__rating-star {
    height: @star-size;
    width: @star-size;
    background-repeat: no-repeat;
    background-size: @star-size;
  }

  &__rating-star_full {
    background-image: url("../images/star.svg");
  }

  &__rating-star_half-empty {
    background-image: url("../images/star-half-empty.svg");
  }

  &__rating-star_empty {
    background-image: url("../images/empty-star-.svg");
  }
  &__rating {
    margin: 0 0.25rem 0 0.5rem;
    font-weight: bold;
  }

}