@user-photo-size: 150px;

.feedback {
  background: white;
  overflow: hidden;

  &__user-photo {
    float: left;
    height: @user-photo-size;
    width: @user-photo-size;
    margin: 50px;
    border-radius: 100%;
    object-fit: cover;
  }

  &__quote{
    margin: 3rem 2rem 1rem 0;
    line-height: 2rem;
    font-size: 1.6rem;
    font-weight: 300;
    color: #4a4a4a;
  }

  &__caption{
    margin-right: 2rem;
    text-align: right;
    font-style: italic;
    font-size: 1.4rem;
    font-weight: 300;
    color: #4a4a4a;
  }
}