body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: OpenSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
dd,
dt,
dl,
p,
blockquote {
  margin: 0;
}
h2 {
  line-height: 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #4a4a4a;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.header {
  display: flex;
  align-items: center;
  height: 4em;
  background-color: #ffffff;
  border-bottom: 1px solid hsla(0, 0%, 78%, 0.75);
}
.header__main-logo {
  height: 2rem;
  width: 8rem;
  margin: 0 1.5em;
  background-image: url("../images/coursera_logo.svg");
  background-repeat: no-repeat;
}
.header__explore-button {
  padding: 0 1rem 0 0.1rem;
  height: 2.5em;
  width: 6.5em;
  margin-right: 3em;
  border: none;
  border-radius: 3px;
  background-image: url("../images/down-arrow.svg");
  background-position: bottom 50% right 0.35rem;
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-color: #4285f4;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
}
.header__explore-button:hover {
  background-color: #ffffff;
  color: #4285f4;
  background-image: url("../images/down-arrow-blue.svg");
}
.header__search-bar {
  display: flex;
  justify-content: space-between;
  height: 2.5em;
  width: 30%;
}
.header__search-input {
  height: 100%;
  width: calc(100% - 40px);
  padding: 0 0.7em;
  border: 1px solid hsla(0, 0%, 85.5%, 0.75);
  border-radius: 2px;
  font-size: 16px;
}
.header__search-input::placeholder {
  color: hsla(0, 0%, 47%, 0.75);
}
.header__search-input:focus {
  border: 1px solid #4285f4;
}
.header__search-submit {
  height: 40px;
  width: 40px;
  background: #4285f4 url("../images/search_icon.svg") no-repeat center;
  border: none;
  margin-left: 1px;
}
.header__login-navigation {
  display: flex;
  align-items: stretch;
  height: 2.5em;
  margin-left: auto;
  margin-right: 2%;
  padding-left: 2em;
}
.header__navigation-text {
  display: inline-block;
  padding-top: 0.5em;
}
.header__enterprise-version-switch {
  width: 8em;
  border-right: 1px solid hsla(0, 0%, 47%, 0.75);
  color: hsla(0, 0%, 47%, 0.75);
}
.header__navigation-text:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}
.header__login-link {
  width: 5em;
  color: #4285f4;
  text-align: center;
}
.header__login-link_sign-up {
  background: #4285f4;
  color: #ffffff;
  border-radius: 100px;
}
.header__login-menu-button {
  display: none;
}
.header__search-menu-button {
  display: none;
}
@media (max-width: 992px) {
  .header {
    justify-content: space-between;
    padding: 0 1rem;
  }
  .header__explore-button {
    display: none;
  }
  .header__search-bar {
    display: none;
  }
  .header__login-navigation {
    display: none;
  }
  .header__login-menu-button {
    display: inline;
    order: -1;
    background: url("../images/burger-menu.svg") no-repeat center;
    height: 1.5rem;
    width: 1.5rem;
  }
  .header__search-menu-button {
    display: inline;
    order: 1;
    background: url("../images/search_icon_black.svg") no-repeat center;
    height: 1.5rem;
    width: 1.5rem;
  }
}
/*# sourceMappingURL=header.css.map */