.layout {

  &__header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  &__carousel {
    margin: 1rem auto 1rem;
    width: 95%;

  }

  &__offers {
    margin: 1rem auto 1rem;
    width: 95%;
  }

  &__feedback{
    margin: 4rem auto 4rem;
    width: 95%;
  }
}