.layout__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "main-header main-header main-header main-header" "main-finder main-finder main-finder main-finder " "ongoing ongoing ongoing ongoing " "updates updates news news" "last-videos last-videos last-videos last-videos " "new-anime new-anime new-anime filter" "footer footer footer footer";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.content {
    &__main-header {
        grid-area: main-header;
    }

    &__main-search {
        position: relative;
        grid-area: main-finder;
    }

    &__ongoing-gallery {
        grid-area: ongoing;
    }

    &__anime_updates {
        grid-area: updates;
    }

    &__news-summary {
        grid-area: news;
    }

    &__last_videos {
        grid-area: last-videos;
    }

    &__new-on-site {
        grid-area: new-anime;
    }

    &__search-filter {
        grid-area: filter;
    }

    &__main-footer {
        grid-area: footer;
    }

}

