.Beginner-resources {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F4F5F7;
  padding-top: 64px;
  padding-bottom: 16px;

  &__text-block {
    text-align: center;
    width: 50%;
    float: left;
    margin-left: 25%;
    padding: 16px;
  }


  &__image-block {
    background-color: #FFFFFF;
    color: #091E42;
    padding: 40px;
    height: 100%;

    &-container {
      padding: 16px;
      width: 33.3%;
      margin-left: 15%;
      float: left;
    }

    &-container:last-of-type {
      margin-left: 0;
    }
  }

  &__main-heading {
    font-size: 2.75rem;
    line-height: 1.2;
    margin-bottom: 16px;
    font-weight: 500;

    &-extra {
      font-size: 1.25rem;
      letter-spacing: .3px;
      line-height: 1.4;
      color: #42526E;
    }
  }

  &__sub-heading {
    font-size: 1.5rem;
    margin-bottom: 16px;
    line-height: 1.3;
    letter-spacing: .3px;
  }

  &__main-content {
    line-height: 24px;
    margin-bottom: 24px;
    font-weight: 400;
  }
}



