.Layout {
  &__header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    height: 70px;
    background: #ffffff;
  }

  &__intro {
    background-color: #F4F5F7;
    overflow: hidden;
    margin: 0 auto;
  }

  &__curve-three-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 64px;
  }
}
