canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #e2922a;
    border-radius: 10px;
}

.main-header {
    font-family: "Herculanum", serif;
    font-size: 50px;
    text-align: center;
    color: #207f72;
    margin: 10px;
}

body{
    background-color: #011627;
}

