$field-size: 100;
$cell-size: 9px;

#game {
  width: $cell-size * $field-size;
  height: $cell-size * $field-size;
  margin: auto;
  font-size: 0;
  border: 1px solid black;
}

.Cell {
  width: $cell-size;
  height: $cell-size;
  display: inline-block;
  margin: 0;
  padding: 0;

  &--live {
    background: #000;
  }

  &--dead {
    background: #fff;
  }
}