.body {
  margin: 0;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  overflow: hidden;
  color: #202124;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* header height */
  padding-top: 64px;
  display: flex;
  flex-direction: row; }
  .body__central-section {
    flex-grow: 1; }
