:root {
  --opaque: #0000;
  --white-default: white;
  --black-default: black;
  --black: #202124;
  --black-light: #3c4043;
  --grey-dark: #5f6368;
  --grey: #e5e5e5;
  --grey-light: #e8eaed;
  --grey-extra-light: #f7f7f7;
  --black-default-opaque: rgba(0, 0, 0, 0.54);
  --black-opaque: #2021240f;
  --grey-opaque: #3332;
  --red-light: #fce8e6;
  --red: #d93025;
  --blue: #1a73e8;
  --green: #1e8e3e; }

@font-face {
  font-family: "Google Sans";
  src: url("../fonts/google-sans.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../fonts/roboto-bold.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-light.woff2") format("woff2"); }

/* body is a flex containing everything except for header */
body {
  margin: 0;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  overflow: hidden;
  color: var(--black);
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* header height */
  padding-top: 64px;
  display: flex;
  flex-direction: row; }

/* Button styles */
.round-button {
  cursor: pointer;
  position: relative;
  display: block;
  border: none;
  background: none;
  opacity: .54;
  padding: 0; }
  .round-button::after {
    position: absolute;
    display: block;
    content: "";
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 0;
    background-color: #3332;
    transition-property: top, left, padding;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    z-index: 0; }
  .round-button:hover {
    /* .round:hover::after should be changed to change the size of pop-up */ }
    .round-button:hover::after {
      left: -7px;
      top: -7px;
      padding: calc(50% + 7px); }
  .round-button:disabled {
    opacity: .27 !important;
    cursor: default; }
    .round-button:disabled::after {
      padding: 0 !important; }
  .round-button > * {
    position: relative;
    z-index: 1; }
