[submodule "Milishchuk_Yavorskii/Sakamoto_Blade"]
	path = Milishchuk_Yavorskii/Sakamoto_Blade
	url = https://github.com/RomanMilishchuk/Sakamoto_Blade
[submodule "Volodymyr_Chernetskyi/endless-voyage"]
	path = Volodymyr_Chernetskyi/endless-voyage
	url = git@github.com:chernetskyi/endless-voyage.git
