.Curve-line__curve {
    display: block;
    background-color: #F4F5F7;
}

.Curve__three-img {
    background-color: #fff;
}

.Curve__image {
    margin-bottom: 16px;
    vertical-align: bottom;
}

.Curve__one-block {
    width: 33.3333%;
    float: left;
    text-align: center;
    padding: 16px;

}

.Curve__heading {
    font-size: 1.5rem;
    line-height: 1.33333333;
    margin-bottom: 16px;
    letter-spacing: .3px;
}

.Curve__main-content {
    color: #253858;
    line-height: 24px;
}