.Curve {
  display: block;
  background-color: #F4F5F7;

  &__three-img {
    background-color: #fff;
  }

  &__image {
    margin-bottom: 16px;
    vertical-align: bottom;
  }

  &__one-block {
    width: 33.3333%;
    float: left;
    text-align: center;
    padding: 16px;

  }

  &__heading {
    font-size: 1.5rem;
    line-height: 1.33333333;
    margin-bottom: 16px;
    letter-spacing: .3px;
  }

  &__main-content {
    color: #253858;
    line-height: 24px;
  }
}