.Header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 100%;
    align-items: center;
}

.Header__nav-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    position: relative;
}

.Header__nav-bar {
    display: flex;
    justify-content: center;
    margin: 0 15px
}

.Header__nav-bar-link {
    font-size: 1.125rem;
    margin: 0 15px;
    padding-bottom: 15px;
    padding-top: 26px;
    border-bottom: 3px solid transparent;
}

.Header__nav-bar-link:hover {
    color: #0065FF;
}

.Header__nav-bar-link-log-in {
    margin-right: 0;
    margin-left: 455px;
}


.Header__get-started-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header__get-started-button {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75;
    border: 1px solid #0052CC;
    border-radius: 3px;
    height: 30px;
    padding: 0 10px;
}

.Header__get-started-button:hover {
    background: #EBECF0;
    transition: all 250ms;
    color: #0052CC;
}

