.Partners {
    padding-top: 64px;
    margin: 0 auto;
    overflow: hidden;
}

.Partners__heading {
    width: 50%;
    text-align: center;
    float: left;
    margin-left: 25%;
    font-size: 2.25rem;
    line-height: 1.3;
    font-weight: 500;
}

.Partners__image {
    text-align: center;
    width: 100%;
    padding: 16px;
}