.todolist {
    width: 400px;
    margin: auto;
}

.todolist__input {
    width: 100%;
    outline: none;
    border: none;
    background: #E1F5FE;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0;
    box-sizing: border-box;
}

.todolist__tasks {
    list-style-type: none;
    padding: 0;
}

.todolist__task {
    padding: 15px;
    background: #E0F7FA;
    margin: 10px;
    border-radius: 30px;
    font-family: Consolas, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    word-wrap: break-word;
}

[chosen] {
    background: #B2EBF2;
}

.todolist__task_info {
    width: 85%;
    padding: 5px;
}

.todolist__task_checkbox {
    display: none;
}

.todolist__task_deletion {
    border-radius: 50%;
    float: right;
    transform: rotate(45deg);
    margin-bottom: 1px;
    font-family: Monospaced;
    font-size: 25px;
    cursor: pointer;
    padding: 3px 10px;
    background: none;
    border: none;
}

.todolist__task_deletion:hover {
    background: #B2EBF2;
}

.todolist__task_deletion:active {
    background: #B2EBF2;
}

.todolist__save, .todolist__cancel{
    padding: 5px 10px;
    background: none;
    border: none;
    cursor: pointer;
    /*outline: none;*/
}

.todolist__save, .todolist__cancel {
    margin: auto;
}

.todolist__save:hover, .todolist__cancel:hover {
    background: #E0E0E0;
}

.todolist__save:active, .todolist__cancel:active {
    background: #BDBDBD;
}