//input{
//  background-color: #21252d;
//  color: #fff;
//  padding: 10px 4px;
//  border: none;
//  width: 250px;
//  border-radius: 2rem;
//}
$main-dark: #141618;
$main-padding: 2rem;
$whitish: hsla(0, 0%, 100%, .6);
$main-grey: #141618;

.nav-bar {
  background-color: $main-dark;

  &__feadback-button{
    background-color: transparent;
    color: #fff;
    height: 34px;
    border: 1px solid rgba(255, 255, 255, 0.1);;
    border-radius: 5px;
    padding: 0 6px;
    font-size: 14px;
    margin-left: 15px;
    font-weight: 300;
    font-family: sans-serif;
    transition: background 150ms ease 0s;
    cursor: pointer;

  }
  &__profile-avatar{
    width: 32px;
    height: 32px;
    border-radius: 999px;
    margin-left: 15px;
  }
  &__profile{
    display: flex;
    align-items: center;
    color: #fff;
    border: none;
    margin-left: 20px;
    background-color: transparent;
  }
  &__feadback-button:hover{
    background: rgb(35, 44, 59);
  }
  &__form {
    height: 34px;
    display: flex;
    border-radius: 0.4rem;
    background-color: #21252d;
  }
  &__form-button {

    background-color: transparent;
    padding: 0 9px;
    border-bottom-right-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border: none;
    height: 100%;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
  }
  &__form-button:hover {
    background-color: #316aff;
  }
  &__input {
    background-color: #21252d;
    color: #fff;
    font-size: 14px;
    padding: 10px 4px;
    border: none;
    width: 250px;
    border-radius: 0.4rem;
  }
  &__input:focus {
    border: none;
  }
  &__padding-wrapper {
    padding: 0 $main-padding;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  &__wrapper {
    height: 60px;

  }
  &__headers {
    display: flex;
    justify-content: center;

    align-items: center;
    &-logo {
      margin-right: 25px;
    }
    &-content {
      padding-left: .5rem;
      cursor: pointer;
      height: 60px;
      display: flex;
      align-items: center;
      opacity: 0.9;
      &-icon {
        margin-right: .7rem;
      }
      &-link {
        text-transform: none;
        text-decoration: none;
        color: hsla(0, 0%, 100%, .9);
        font-size: 14px;
        font-family: sans-serif;

        font-weight: 400;
      }
    }
  }
  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

