.Login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 500px;
  width: 400px;
  margin: 0 auto;

  &__wrapper {
    width: 100%;
    background-color: #0747A6;
  }

  &__header {
    margin-top: 48px;
    text-align: center;
    display: block;

    &-title {
      color: rgb(222, 235, 255);
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      margin-top: 40px;
    }
  }

  &__logo {
    padding: 0 60px;
    color: rgb(255, 255, 255);
    display: inline-block;
    fill: rgb(255, 255, 255);
    height: 48px;
    position: relative;
  }

  &__form {
    margin: 48px 0;
  }

  &__box {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
    box-sizing: border-box;
    color: rgb(23, 43, 77);
    padding: 48px;

    &-google {
      margin-bottom: 24px;

      &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 100%;
        opacity: 1;
        line-height: 39px !important;
        color: rgb(80, 95, 121) !important;
        cursor: default;
        box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0px !important;
        font-weight: bold;
        background-color: #ffffff;
        border-radius: 3px;
        border-width: 0;
        box-sizing: border-box;
        font-size: inherit;
        font-style: normal;
        height: 2.28571em;
        outline: currentcolor none medium !important;
        padding: 0 8px;
        text-decoration: none;
        vertical-align: middle;
        width: 100%;
      }
    }

    &-submit {
      margin: 12px 0 0;
      padding: 0;
      color: rgb(23, 43, 77);
    }

    &-email {
      margin-top: 0;
      align-items: center;
      background-color: rgb(250, 251, 252);
      border-color: rgb(223, 225, 230);
      border-radius: 3px;
      border-style: solid;
      box-sizing: border-box;
      color: rgb(9, 30, 66);
      display: flex;
      flex: 1 0 auto;
      font-size: 14px;
      justify-content: space-between;
      line-height: 1.42857;
      max-width: 100%;
      overflow: hidden;
      transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
      overflow-wrap: break-word;
      border-width: 2px;
      padding: 6px;

      &-field {
        background: transparent none repeat scroll 0 0;
        border: 0 none;
        box-sizing: border-box;
        color: inherit;
        cursor: inherit;
        font-family: inherit;
        font-size: 14px;
        outline: currentcolor none medium;
        width: 100%;
      }
    }

    &-continue {
      margin-top: 24px;

      &-btn {
        height: 39px !important;
        line-height: 39px !important;
        background-color: rgb(0, 82, 204);
        border-radius: 3px;
        border-width: 0;
        box-sizing: border-box;
        color: rgb(255, 255, 255) !important;
        cursor: default;
        font-size: inherit;
        font-style: normal;
        max-width: 100%;
        padding: 0 8px;
        text-align: center;
        width: 100%;
      }

      &-btn:hover {
        background-color: rgb(0, 101, 255);
        cursor: pointer;
      }
    }
  }
}