.Block-header {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.4;
  color: #333;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #e2e2e2;
  background-color: #fafafa;
  margin: 0 0 8px 0;
  padding: 16px 16px;

  &_small {
    padding: 0 0 8px 0;
  }
}
