.Main-navigation {
  position: fixed;
  display: flex;
  flex-direction: column;

  &__topic {
    text-decoration: none;
    background: #ffffff;
    width: 138px;
    //margin-bottom: 8px;
    padding: 4px;
    margin-left: -4px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 1.4;
    color: rgb(102, 102, 102);
    font-weight: 400;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;

    &:hover {
      color: #2b6dad;
    }
    &_current {
      background: #e6e6e6;
      &:hover {
        cursor: default;
        color: rgb(102, 102, 102);
      }
    }
    &_home-page {
      margin-bottom: 8px;
    }
  }

  &__icon {
    height: 18px;
    width: 18px;
    margin-right: 8px;
    border-radius: 2px;
    background-color: #949494;

    &_current {
      background-color: #b92b27;
    }
  }

  //&__unread-topic-dot {
  //  background-color: #329bff;
  //  width: 8px;
  //  height: 8px;
  //  align-self: flex-start;
  //  justify-self: flex-start;
  //  //transform: translate(-50%,-50%);
  //  //top: 0;
  //  //left: 0;
  //  border: 1px solid #fafafa;
  //  border-radius: 100%;
  //  //position: absolute;
  //}

}