.Todo {
  &__title {
    font-family: Roboto, sans-serif;
    font-size: 40px;
  }

  &__list {
    text-align: left;
    list-style-type: none;
    margin-bottom: 50px;
    max-height: 250px;
    overflow: scroll;
  }

  &__item {

    margin: 5px 0;

    &:before {
      content: '-';
      margin-right: 15px;
    }
  }

  &__form {
    padding: 0 40px;
  }

  &__input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: transparent;
    border: 3px solid #fff;
    margin-bottom: 50px;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;

    &::placeholder {
      color: #fff;
    }

    &:focus {
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
      outline: none;
    }
  }
}