
#find-filter #filter-list {
    list-style-type: none;
    padding: 15px;
    margin: 0;
}

#find-filter #filter-list li:last-of-type .filter-cell {
    margin-bottom: 0;
}

#find-filter .filter-cell {
    margin-bottom: 10px;
}

#find-filter span, #find-filter label {
    display: block;
    margin-bottom: 5px;
}

#find-filter form {
    background-color: white;
    text-align: left;
}

#find-filter input:not([type=checkbox]), #find-filter select {
    display: inline-block;
    height: 33px;
    box-sizing: border-box;
    width: 100%;
}

#find-filter input.interval {
    width: 49%;
}

#find-filter footer {
    border-top: 1px solid #e2e2e2;
    padding: 15px;
}

#find-filter button {
    width: 100%;
    font-size: 16px;
    padding: 9px 0;
}

