#last_videos {
    padding-left: 0;
    clear: both;
}

#videos {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.video {
    width: 427px;
    margin-right: 5px;
}

#videos figure {
    margin: 0;
}

#videos a {
    color: white;
}

#videos li:last-of-type .video {
    margin-right: 0;
}


#videos figcaption, #videos footer {
    background: #333333;
    padding: 5px 10px;
    text-align: left;
}

#videos figcaption {
    border-bottom: 1px solid #e2e2e2;
}

#videos figcaption .nickname {
    color: #3cce7b;
    font-weight: 600;
}

#videos footer {
    color: white;
    display: flex;
    justify-content: space-between;
}

#videos footer a {
    color: #f66
}


#videos time {
    text-align: right;
}

#new-on-site h2 {
    text-align: left;
    padding-left: 10px;
}

#new-anime-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
}


#new-anime-list .anime {
    display: inline-block;
    flex-grow: 1;
    background: white;
    margin-bottom: 20px;
    text-align: left;
    padding-right: 20px;
}

#new-anime-list .anime:nth-of-type(odd) {
    margin-right: 20px;
}

.anime header, .anime main {
    padding: 10px 10px 0 0;
}

.anime header .rating-line {
    font-size: 12px;
    display: block;
}

.anime img {
    float: left;
    margin-right: 10px;
    width: 170px;
    min-height: 240px;
}

.anime a, .anime span {
    color: black;
    vertical-align: middle;
}

.anime .general-desc, .anime .genres {
    font-size: 12px;
}

.anime .desctiption-header {
    font-weight: 600;
}

.anime .general-desc {
    display: block;
}

.anime .rate {
    color: #f2b800;
    font-size: 25px;
    border: none;
    background-color: transparent;
}

.anime .rating {
    border: 0;
    margin: 0;
    background-color: #f2b800;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    padding: 0 5px;
}