#new-anime-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
}


#new-anime-list .anime {
    display: inline-block;
    flex-grow: 1;
    background: white;
    margin-bottom: 20px;
    text-align: left;
    padding-right: 20px;
}

#new-anime-list .anime:nth-of-type(odd) {
    margin-right: 20px;
}

.anime header, .anime main {
    padding: 10px 10px 0 0;
}

.anime header .rating-line {
    font-size: 12px;
    display: block;
}

.anime img {
    float: left;
    margin-right: 10px;
    width: 170px;
    min-height: 240px;
}

.anime a, .anime span {
    color: black;
    vertical-align: middle;
}

.anime .general-desc, .anime .genres {
    font-size: 12px;
}

.anime .desctiption-header {
    font-weight: 600;
}

.anime .general-desc {
    display: block;
}

.anime .rate {
    color: #f2b800;
    font-size: 25px;
    border: none;
    background-color: transparent;
}

.anime .rating {
    border: 0;
    margin: 0;
    background-color: #f2b800;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    padding: 0 5px;
}