.bg {
    background: url("../../images/logos/all_logos.png");
    display: inline-block;
    background-repeat: no-repeat;
}

.footer-top {
    background: url(../../images/bg/footer-top-bg.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 75px 0;
    box-sizing: border-box;
    font: 36px/38px Proxima Nova,sans-serif;

    &__header {
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 0 55px;
    }

    &__social {
        margin: 0 80px 20px;
    }

    &__social li {
        display: inline-block;
        width: 140px;
        margin-bottom: 55px;
        vertical-align: top;
    }

    &__social__item {
        display: inline-block;
        margin-bottom: 20px;
        width: 80px;
        height: 80px;
        border-radius: 100px 100px 100px 100px;
        position: relative;
        cursor: pointer;
    }

    &__social__item:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
    }

    &__social .item-fb {
        background-color: #507cbe;
    }

    &__social .item-fb:before {
        .bg();
        background-position: -15094px 0;
        width: 21px;
        height: 45px;
        margin-left: -10.5px;
        margin-top: -22.5px;
    }

    &__social .item-vk {
        background-color: #4d76a5;
    }

    &__social .item-vk:before {
        .bg();
        background-position: -15477px 0;
        width: 51px;
        height: 28px;
        margin-left: -25.5px;
        margin-top: -14px;
    }

    &__social .item-youtube {
        background-color: #c21c25;
    }

    &__social .item-youtube:before {
        .bg();
        background-position: -15548px 0;
        width: 51px;
        height: 44px;
        margin-left: -25.5px;
        margin-top: -22px;
    }

    &__social .item-steam {
        background-color: #090909;
    }

    &__social .item-steam:before {
        .bg();
        background-position: -15202px 0;
        width: 59px;
        height: 30px;
        margin-left: -29.5px;
        margin-top: -15px;
    }

    &__social .item-twitter {
        background-color: #3b9cd6;
    }

    &__social .item-twitter:before {
        .bg();
        background-position: -15413px 0;
        width: 44px;
        height: 35px;
        margin-left: -22px;
        margin-top: -17.5px;
    }

    &__social .item-inst {
        background-color: #ab43c4;
    }

    &__social .item-inst:before {
        .bg();
        background-position: -15135px 0;
        width: 47px;
        height: 48px;
        margin-left: -23.5px;
        margin-top: -24px;
    }

    &__social .item-tg {
        background-color: #1ab4e4;
    }

    &__social .item-tg:before {
        .bg();
        background-position: -15281px 0;
        width: 44px;
        height: 38px;
        margin-left: -22px;
        margin-top: -19px;
    }

    &__social__num {
        font-size: 24px;
    }

}