.Layout {
  &__header {
    position: sticky;
    top: 0;
    overflow: hidden;
    height: 70px;
    background: #ffffff;
  }
}

.Header {
  max-width: 1200px;
  height: 100%;
  margin: auto;

  &__svg-log {
    display: block;
    box-sizing: border-box;
  }

  &__nav-bar {
    margin: 5px 15px;
    flex-grow: 2;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 0 16px;
      position: relative;
      width: 100%;
    }

    &-link {
      float: left;
      font-size: 1.125rem;
      margin: 0 15px;
      padding-bottom: 15px;
      padding-top: 26px;

      &-log-in {
        float: right;
      }
    }

    &-link:hover {
      color: #0065FF;
    }
  }

  &__get-started-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__get-started-button {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75;
    border: 1px solid #0052CC;
    border-radius: 3px;
    height: 30px;
    padding: 0 10px;
  }

  &__get-started-button:hover {
    background: #EBECF0;
    transition: all 250ms;
    color: #0052CC;
  }
}

@media (max-width: 1000px) {
  .Header {
    &__nav-bar-link {
      font-size: 1rem;
    }
  }
}

@media (max-width: 750px) {
  .Header {
    &__nav-bar {
      display: none;

      &-wrapper {
        height: 100%;
      }
    }

    &__get-started-button {
      font-size: .9rem;
      height: 27px;
    }
  }
}