.story{
  margin-top: 10px;
  &__header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    &-title{
      color: #999;
      font-size: 18px;
      line-height: 18px;
      font-weight: 500;

    }
    &-subtitle{
      color: #262626;
      font-weight: 600;
    }
  }
  &__profiles{
    padding: 0 1rem;
    height: 200px;
    overflow: scroll;
  }
  &__wrapper{
    background: #fff;
    //padding: 0.75rem 0.75rem 0  0.75rem ;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
  }
}