.Navigation-additional{
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid rgb(52, 53, 54);

  @media (max-width: 788px) {
    & {
      display: none;
    }
  }
  &__icon{
    display: block;
    height: 16px;
    line-height: 14px;
    padding: 8px 16px 8px 8px;
    width: 16px;
    border-radius: 2px;
    fill: rgb(215, 218, 220);
  }

}
