body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

canvas {
    background: url('./img/backgroundImage.jpg') no-repeat center fixed;
    background-size: cover;
    border: 5px solid pink;
    margin-right: 50px;
    float: left;
}