.course {
    &__logo {
        vertical-align: middle;
        height: 43px;

        &_color-red {
            color: rgb(226, 0, 22);
            fill: rgb(226, 0, 22);
        }

        &_big-size {
            height: 54px;
        }
    }

    &__general-info {
        font-size: 70px;
    }

    &__announce-label {
        &_bold {
            font-weight: 700;
        }
    }
}