.main-header {
    padding-top: 7px;

    &__menu {
        vertical-align: top;
        display: inline-block;
    }

    &__item {
        margin-right: 18px;
        vertical-align: top;
        font-size: 14px;
        font-weight: 400;
    }

    &__profile {
        height: 33px;
        display: inline-block;
        float: right;
    }
}
