.Commits {
  list-style: none;
  display: flex;
  max-width: 980px;
  margin: auto auto 18px auto;
  justify-content: space-around;
  padding: 0;
  border: 1px solid #e1e4e8;
  border-radius: 0.25em;
  border-bottom: #f1e05a 8px solid;
  &__commit {
    flex-grow: 1;
    padding: 0.625rem 0;
    text-align: center;
    color: rgb(88, 96, 105);
  }
  &__icon {
    margin-right: 0.15rem;
    vertical-align: text-bottom;
    filter: invert(50%);
  }
  &__number {
    font-weight: 600;
    color: rgb(36, 41, 46);
  }
}
