.Footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #6a737d;
  line-height: 1.5;
  &__block {
    display: flex;
  }
  &__footer-navigation {
    display: flex;
    justify-content: space-between;
  }
  &__place {
    margin-right: 1rem;
    text-decoration: none;
    color: #0366d6;
  }
}
