.Issues-list {
  border: 1px solid #d1d5da;
  border-radius: 3px;
  &__issue {
    display: flex;
    border-top: 1px solid #e1e4e8;
    &-icon {
      margin: 0.2rem 1rem;
    }
    &-description {
      color: rgb(88, 96, 105);
      margin: 0 auto;
    }
  }
  &__filters-pannel {
    display: flex;
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    justify-content: space-between;
    padding: 1rem 1rem;
  }
  &__issues-state {
    background: none;
    border: none;
  }
  &__filter {
    background: transparent;
    border: none;
    margin: 0 0.5rem;
  }
  &__issue-name {
    color: rgb(36, 41, 46);
    margin: 0 auto;
  }
  &__issue-text-block {
    padding: 1rem 0;
  }
}
