.Readme {
  margin-top: 15px;
  border: 1px solid #d1d5da;
  border-radius: .25rem;
  &__header {
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    padding: 0.5rem;
    font-weight: 600;
  }
  &__icon{
    vertical-align: text-bottom;
  }
  &__description{
    padding: 2.5rem;
  }
  &__h1{
    font-size: 2em;
    color: #24292e;
    border-bottom: 1px solid #eaecef;
  }
}