.Repository-data {
  font-size: 12px;
  font-weight: 600;

  &__action {
    font-weight: 600;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    color: #24292e;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 0.25em;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-size: 12px;
  }

  &__count {
    padding: 0.2rem 0.625rem;
    color: #24292e;
    text-decoration: none;
    border: 1px solid rgba(27, 31, 35, 0.2);
  }

  &__icon {
    vertical-align: text-bottom;
  }
}
