.Search {
  font-size: 14px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.125);
  display: flex;
  border-radius: 0.25em;
  align-items: center;
  width: 100%;
  margin-left: 0.8rem;
  &__field {
    background-color: transparent;
    border: none;
    min-height: 30px;
    padding: 0 0.55em;
    color: #fff;
    font-size: inherit;
    width: 100%;
  }
  &__slash-icon {
    display: inline-block;
    margin-right: 0.55rem;
  }
}
