.Feed {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    background-color: #15202b;
}

.Feed__header {
    display: flex;
    justify-content: space-between;
    background-color: #1c2938;
}

.Feed__header .svg {
    height: 1.5rem;
}

.inner-part {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(56, 68, 77);
    padding: 15px 10px 15px 10px;
}