body {
    margin: 0;
    padding: 0;
    background-color: var(--platinum);
    font-family: "Helvetica Neue", serif;
}

main{
    margin: 0 10% 0 10%;
    padding: 0;
    width: 80%;
    background-color: white;

}