#Visualization {
    font-size: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    border: 3px solid #091E42;
    border-radius: 5px ;
  text-align: center;
}

#canvas {
  &__wrapper {
    text-align: center;
  }

  margin: auto;
  border: 3px solid #091e42;
  border-radius: 5px;
}

.Point {
  width: 10px;
  height: 10px;
  display: inline-block;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}
