@media screen and (max-width: 890px)
  .text
    margin: 1rem 25% 0.5rem 25%

  .temperature
    margin: 0 0 0 25%

  .city-blocks__lisbon .text
    margin: 1rem 25% 0.5rem 35%

  .city-blocks__lisbon .temperature
    margin: 0 0 0 35%

@media screen and (max-width: 600px)
  .text
    margin: 1rem 15% 0.5rem 15%

  .temperature
    margin: 0 0 0 15%
