body
  padding: 0
  margin: 0
  overflow: hidden

.main
  background-color: #28779E
  //min-width: 100%
  padding: 0.5rem

.main__container
  background-color: #2B81AC

.main__block-container
  position: relative
  left: 15%

.main__container__h1
  font-size: 1.3em
  color: white
  display: inline-block

.container__sun_
  color: white
  display: inline-block

.container__sun
  color: white
  display: inline-block
  position: relative
  left: 0.2em

.block-container__city-blocks
  background-color: white
  display: grid
  width: 70%
  height: 18rem
  justify-content: space-evenly
  align-content: space-evenly
  grid-template-rows: repeat(4,calc(25% - 0.05rem))
  grid-template-columns: repeat(4,calc(25% - 0.05rem))
  //grid-gap: 0.1rem

.text
  color: white
  margin: 1rem 35% 0.5rem 35%
  white-space: nowrap
  display: inline-block

.temperature
  display: inline-block
  margin: 0 0 0 35%
  color: white

.gl
  color: white
  padding-bottom: 3rem

.block-container__city-blocks > div
  margin: 0.05rem


