text {
    font-size: 14px;
}

path {
    fill: none;
}

svg {
    width: 100%;
    height: 100%;
}

circle {
    stroke: black;
    stroke-width: 1.5;
}

.point__circle {
    fill: green;
    r: 7;
}

.bezier-field__point-connector {
    stroke: blue;
    stroke-width: 1.5;
}

.bezier-field__bezier-path {
    stroke-width: 1.5;
    stroke: red;
}

.bezier-field__animation-time {
    font-size: 30px;
}

.bezier-field__moving-point {
    fill: red;
    r: 4;
}

.bezier-field__tangent {
    stroke-width: 1.5;
}