.aside-friends {
    position: fixed;
    height: calc(100% - 46px);
    right: 0;
    /* margin-top: 33px; */
    width: 205px;
    border-left: 1px solid rgba(0, 0, 0, .4);
    box-shadow: inset 2px 0 2px -2px #b2b9c9;
}

.aside-friends__single-friend {
    cursor: pointer;
    padding: 6px;
}

.aside-friends__single-friend--active {

    background-color: #dddfe2;
    box-shadow: 1px 0 0 #eaebed inset;
}

.aside-friends__single-friend:hover {
    background-color: #dddfe2;
    box-shadow: 1px 0 0 #eaebed inset;

}

.aside-friends__singe-group {
    height: calc(100% - 26px);
    overflow: scroll;
}

.aside-friends__form {
    height: 100%;
}

.aside-friends__search {
    height: 20px;
    background-color: #fff;
    padding: 6px;
}

.aside-friends__title {
    font-size: 12px;
    font-weight: normal;
    padding: 9px;
}

.red-point {
    background: rgb(66, 183, 42);
    border-radius: 50%;
    display: inline-block;
    height: 6px;
    width: 6px;
    margin: auto;
}

@media screen and (max-width: 1250px) {
    .aside-friends{
        display: none;
    }
    .header-main__wrapper, .content-wrapper{
        padding: 0;
    }

}