.basic-container {
    margin: 0 0 15px 15px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #fff;
}

.basic-container--inner-wrapper {
    padding: 5px 10px;
}

.basic-container__comment {

    padding: 9px 10px;
    display: flex;

}
.basic-container__comment--input-field{
    width: 100%;
    outline: none;
    background-color: #f2f3f5;
    border: 1px solid #ccd0d5;
    height: 35px;
    padding-left: 10px;
    margin-left: 4px;
    border-radius: 16px;
    color: #8d949e;
}

.basic-container--transparent {
    background-color: transparent;
}

.basic-container--no-padding {
    padding: 0;
}

.basic-container__block-row {
    display: flex;
}
.basic-container__blue-nav{
    color: #4267b2;
    font-size: 12px;
    cursor: pointer;
}

.basic-container__head {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.basic-container__head--grey {
    background-color: #f5f6f7;

    padding: 10px 5px;
    border-radius: 4px;
}

.basic-container__lower-info {
    color: #606770;
    font-weight: normal;
    font-size: 13px;
    line-height: 2px;
}

.basic-container__search-wrap {
    padding: 5px;
}

.basic-container__aside-information {
    padding: 1px 5px;
    flex: 2;
}

.basic-container__aside-information--stories {
    padding: 13px 5px;
    flex: 2;
}

.basic-container__aside-information--first {
    padding: 1px 10px;
}

.basic-container__title {
    color: #365899;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}

.basic-container__information--text {
    padding: 5px;
    font-size: 14px;
}

.basic-container__information--image-center {
    padding-top: 12px;
}

.basic-container__information__smily-faces {
    padding: 7px;
}

.basic-container__feedback {
    display: flex;
    padding: 5px 0;
}

.basic-container__feedback__icon-wrapper {
    padding: 5px;
    float: left;
}

.basic-container__feedback__icon--header--grey {
    background-color: #616770;
    border-radius: 5px;
}

.basic-container__feedback__icon--header {
    font-size: 13px;
    padding: 5px;
    float: left;
}