.button {
    padding: 5px;
    color: #4b4f56;
    cursor: pointer;
}
.button__none{
    cursor: pointer;
    border: none;
}

.button--whitespace {
    width: 100%;
    border: none;
    height: 100%;
    color: #606770;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    padding: 2px 18px;
    border: 2px;

}

.button--grey {
    background-color: #f5f6f7;
    color: #4b4f56;
    display: flex;
    font-size: 11px;
    font-weight: bold;
    border-color: #ccd0d5;
    margin: 2px;
}

.button--grey-round {
    background-color: #f5f6f7;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 2px 20px;
}

.button--grey-round:hover,.button--grey:hover {
    background-color: #ebedf0;
}

.button--whitespace:hover {
    background-color: rgba(29, 33, 41, .04);
}

.button--blue {

    border: none;
    color: #4267b2;
}