
.icon {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: 29px 1475px;
    background-image: url(../img/icons.png);
    opacity: .6;
    cursor: pointer;
}

.icon:hover {
    opacity: 1;
}

.icon--friend {
    margin-right: 3px;
    opacity: 1;
    background-image: url(../img/friend.png);
    background-size: 53px 334px;
    width: 12px;
    height: 12px;
    background-position: -40px -226px;
}

.icon--plus {
    background-image: url(../img/plus.png);
    background-size: 53px 334px;
    width: 24px;
    height: 24px;
    background-position: 0 -180px;
    opacity: 1;
    position: absolute;
    right: 13px;
    bottom: 13px;
    background-repeat: no-repeat;

}

.icon--requests {

    background-position: 0 -867px;
}

.icon--message {

    background-position: 0 -917px;
}

.icon--pings {
    background-position: 0 -767px;
}

.icon--switcher {
    background-image: url(../img/icons-2.png);
    background-size: 84px 562px;
    background-position: -41px -475px;
}

.icon--help {
    background-position: 0 -967px;
}

.icon--facebook {
    display: inline-block;
    margin-right: 5px;
    float: left;
    opacity: 1;
    background-position: 0 -442px;
}

.icon--search {
    opacity: 1;
    float: left;
    width: 14px;
    height: 14px;
    background-size: 29px 1475px;
    background-position: 0 -1445px;
}

/*icon nav-bar*/
.icon__nav-bar__wrapper {
    padding: 3px;
}

.icon__nav-bar {
    display: inline-block;
    background-image: url(../img/icons-3.png);
    width: 20px;
    height: 20px;
    margin: 2px;

}

.icon__nav-bar--groups {
    background-image: url(../img/icons-3.png);
    background-position: 0 -107px;
    background-size: 32px 1953px;
}

.icon__nav-bar--events {
    background-image: url(../img/calendar.png);
    background-position: 0 -21px;
    background-size: 21px 110px;
}

.icon__nav-bar--news {

    background-position: 0 -737px;

    background-size: 32px 1953px;
}

.icon__nav-bar--message {

    background-position: 0 -170px;

    background-size: 32px 1953px;
}

.icon__nav-bar--watch {

    background-position: 0 -1157px;

    background-size: 32px 1953px;
}

/*icon sitckers*/

.icon__sticker {
    background-image: url(../img/sticers.png);
    width: 18px;
    height: 18px;
}

.icon__sticker--like {
    background-position: -19px -131px;
    background-size: 55px 237px;
}

.icon__sticker--comment {
    background-image: url(../img/comment.png);
    background-size: 161px 376px;
    background-position: -42px -249px;
}

.icon__sticker--twit {
    background-image: url(../img/comment.png);
    background-size: 161px 376px;
    background-position: -61px -249px;
}

/**/

.icon__smily-faces {
    background-image: url(../img/smily_faces.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-left: -6px;
}

.icon__smily-faces--love {
    background-size: 49px 660px;
    background-position: -17px -492px;
}

.icon__smily-faces--thumb-up {
    background-size: 49px 660px;
    background-position: 0 -526px;
}

.icon__smily-faces--happy-face {
    background-size: 49px 660px;
    background-position: -17px -475px;
}

.icon__smily-faces--shock {
    background-size: 49px 660px;
    background-position: 0 -543px;
}

.icon__headers {
    background-image: url(../img/icons-3.png);
    width: 20px;
    height: 20px;
}

.icon__headers--happy-face {
    background-position: 0 -485px;
    background-size: 32px 1953px;
    background-repeat: no-repeat;
}

.icon__headers--choose {
    background-position: 0 -548px;
    background-size: 32px 1953px;
    background-repeat: no-repeat;
}
