.input {
    display: flex;
}

.input--padding {
    padding: 5px 5px 15px 5px;
}

.input__wide {
    width: 100%;
    padding-left: 10px;
    font-size: 18px;
    opacity: 0.7;
    border: none;
}

.input__wide, .input:focus {
    border: none;
}

.input--horizontal {
    display: inline-block;
}

.input__regular {
    float: left;
}

.input__search {
    float: left;
    height: inherit;
    border: none;
    padding-left: 10px;
    font-size: 13px;
    width: calc(100% - 44px);
}

.input__main {
    background-color: #fff;
    border: 1px solid #3b5998;
    border-radius: 3px;
    box-sizing: border-box;
    height: 26px;
    left: -1px;
    margin-left: 30px;
    margin-top: 0;
    max-width: 448px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 48px;
}