.horizontal-list {
    height: inherit;
}

.vertical-list {
    height: inherit;
}

.horizontal-list__item {
}

.vertical-list__item a {
    color: #1d2129;
}

.vertical-list__item--nav-bar {
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 13px;
    display: flex;
    width: 179px;
    border-radius: 2px;
}
.vertical-list__item--flex{
    display: flex;
}
.vertical-list__item--nav-bar--active {
    background-color: #f5f6f7;
    border: 1px solid #dddfe2;
    font-weight: bold;
}

.vertical-list__item--nav-bar a {
    padding-top: 7px;
}

.vertical-list__item--nav-bar--space-bottom {
    margin-bottom: 15px;
    padding: 5px;
}

.vertical-list__item--nav-bar:hover {
    border: 1px solid #dddfe2;
    background-color: #f5f6f7;

}

.horizontal-list--full-width {
    width: 100%;
    text-align: center;
}

.horizontal-list__item--3-centered {
    width: 32%;
    text-align: center;
}

.horizontal-list .horizontal-list__item {
    display: inline-block;
}
.horizontal-list__item--blue-a{

}
.horizontal-list__item--header-suite {
    color: #fff;
    padding: 10px 0;

}
.horizontal-list__item--dot{
    /*padding: 5px;*/
    margin: auto;
}
.horizontal-list__item__lang{
    font-size: 13px;
    color: #365899;
    cursor: pointer;
}
.horizontal-list__item__lang--grey{
    color: #90949c;
}

.horizontal-list__item--icons-suite {
    padding: 10px 3px;
}

.horizontal-list__item__button {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
}

.horizontal-list__item__button:hover {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.horizontal-list__item__button--border-two {
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}