* {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

body {

    margin-top: 0;
    background-color: #e9ebee;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    width: 1024px;
    margin: auto;
    height: calc(100% - 42px);
    display: flex;
    padding-right: 205px;
}

.greenish {
    color: #616770;
    font-size: 13px;
}

main {
    padding-top: 10px;
    height: calc(100% - 10px);
    overflow: scroll;
    display: flex;
    flex: 8;
}
.main-wrapper{
    flex: 6;
}

.navigation-toolbar, .middle-block, .rightAside {
    display: inline-block;
    float: left;

}

.navigation-toolbar {
    padding-top: 10px;
    height: calc(100% - 10px);
    flex: 2;
    overflow: hidden;
}

.requestsAside {
    flex: 3;
}

.relative-wrapper {
    position: relative;
}

.hr-line {
    width: 100%;
    height: 0.06em;
    background-color: rgba(0, 0, 0, 0.1);
}

.stories__image-wrapper {
    cursor: pointer;
    border: 3px solid #4780de;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    position: relative;
}

.stories__story-profile {
    padding: 13px 5px;
}

.stories__plus-wrapper {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background-color: #f5f6f7;
    padding: 5px;
}

figure {
    display: flex;
}