.plot{
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    margin: 1rem auto;
}

.plot__title {
    font-family: monospace;
    font-weight: 600;
    font-size: 1.2rem;
    alignment-baseline: middle;
    letter-spacing: -.4px;
    fill: #333;
}


.plot__title_target{
    text-anchor: start;
}

.plot__title_source{
    text-anchor: end;
}