.airbnb {
    width: 152px;
    height: 53px;
}

.cisco {
    width: 135px;
    height: 56px;
}

.dropbox {
    width: 104px;
    height: 56px;
}

.twitter {
    width: 96px;
    height: 56px;
}

.uber {
    width: 152px;
    height: 56px;
}

.vmware {
    width: 167px;
    height: 49px;
}

.mp {
    width: 83px;
    height: 56px;
}