@import "../../styles/variables";

.User-info {
  padding: 0.31em 0.38em 0.44em 0.44em;
  color: #6a737c;

  &__avatar {
    width: 3em;
    height: 3em;
    float: left;
    box-shadow: 2px 2px 4px rgba(12, 13, 14, 0.5);
  }

  &__details {
    margin: 0 0 0 0.56em;
    width: calc(100% - 64px);
    line-height: 1.1;
    float: left;
    word-wrap: break-word;
  }

  &__name {
    font-size: 0.88em;
  }

  &__location {
    font-size: @font-size--small;
    margin: 0.17em 0;
    display: block;
  }

  &__reputation-score {
    font-weight: bold;
    font-size: @font-size--small;
    line-height: 1;
    margin: 0 0 0.34em 0;
  }

  &__tags {
    clear: both;
    font-size: @font-size--small;
    padding: 0.25em 0 0 4.75em;
    display: flex;
    flex-wrap: wrap;
  }

  &__tag {
    color: #848d95;
    margin-right: 0.33em;

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    background-color: #f4f8fb;
  }
}
