/*TODO: margin/padding one style, .svg-icon, .favicon*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*FIXME: everything below*/

* {
  margin: 0;
  padding: 0;
}

.Primary-button {
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.1;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(0, 149, 255, 0);
  white-space: nowrap;
}

.Ordinary-link {
  color: #0077cc;
}

.Ordinary-link:hover,
.Ordinary-link:active {
  color: #3af;
}
