body {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.Ordinary-link {
  color: #0077cc;
}

.Ordinary-link:hover,
.Ordinary-link:active {
  color: #3af;
}
