.favicon {
  width: 1em;
  height: 1em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../images/favicons-sprite16.png?v=80e7547eada6");
}

.favicon.favicon-stackexchangemeta {
  background-position: 0 -5868px;
}

.favicon-stackoverflowmeta {
  background-position: 0 -5904px;
}

.favicon-workplace {
  background-position: 0 -6642px;
}

.favicon-codegolf {
  background-position: 0 -1116px;
}

.favicon-rpg {
  background-position: 0 -5148px;
}

.favicon-worldbuilding {
  background-position: 0 -6678px;
}

.favicon-latin {
  background-position: 0 -3564px;
}

.favicon-stackoverflow {
  background-position: 0 -5886px;
}

.favicon-lifehacks {
  background-position: 0 -3636px;
}

.favicon-apple {
  background-position: 0 -216px;
}
