.Featured-tags-block {
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(59, 64, 69, 0.1);
}

.Featured-tags-block__header {
  display: flex;
  padding: 0.8em 1em;
  background: #fafafb;
  color: #6a737c;
  font-size: 0.9em;
  font-weight: normal;
  border-bottom: 1px solid #e4e6e8;
}

.Featured-tags-block__icon {
  margin: 0 .3em 0 0;
  display: flex;
  fill: #6a737c;
}

.Featured-tags-block__title {
  flex: 1 auto;
  font-size: 1em;
  font-weight: normal;
}

.Featured-tags-block__edit {
  color: #6a737c;
}

.Featured-tags-block__content {
  display: flex;
  flex-wrap: wrap;
  padding: 1.3em 0.9em;
}

.Featured-tags-block__tag {
  margin: .1em .5em .8em 0;
}
