.Questions-types-navigation {
  border-bottom: 1px solid #d6d9dc;

  &__wrapper {
    display: flex;
  }

  &__title {
    flex: 1 auto;
    font-family: inherit;
    font-weight: normal;
    font-size: 1.69em;
    padding-left: 0.89em;
    color: #242729;
    margin: 0;
  }

  &__select-type {
    margin: 1.5em 0 1em auto;
  }
}
