.question-reaction {
  display: flex;
  cursor: pointer;
  order: 1;
}

.question-reaction .votes {
  height: 38px;
  min-width: 38px;
  margin: 0 3px 0 0;
  font-size: 11px;
  color: #848d95;
  padding: 7px 6px;
  text-align: center;
}

.question-reaction .answers {
  margin: 0 3px 0 0;
  min-width: 44px;
  height: 38px;
  font-size: 11px;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 3px;
  text-align: center;
  color: #848d95;
}

.answers.has-ans {
  color: #45a163;
  border-color: rgba(69, 161, 99, 0.5);
}

.answers.has-accepted-ans {
  color: #ffffff;
  background-color: #5fba7d;
}

.question-reaction .views {
  height: 38px;
  min-width: 40px;
  margin: 0 7px 0 0;
  font-size: 11px;
  color: #848d95;
  padding: 7px 6px;
  text-align: center;
}

.question-reaction .counter {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 4px;
  display: block;
}
