.Site-chapter-navigation__link {
  font-size: 13px;
  color: #535a60;
  line-height: 1.8;
  display: block;
  padding: 4px 4px 4px 30px;
}

.Site-chapter-navigation__link--home {
  padding: 4px 4px 4px 8px;
}

.Site-chapter-navigation__link--current {
  background: rgba(12, 13, 14, 0.05);
  border-right: 3px solid #f48024;
  color: #0c0d0e;
  font-weight: bold;
}

.Site-chapter-navigation__link--with-icon {
  display: flex;
  padding: 8px 6px 8px 8px;
}

.Site-chapter-navigation__icon_globe {
  margin-top: 2px;
  margin-right: 4px;
  fill: #848d95;
}

.Site-chapter-navigation__link:hover,
.Site-chapter-navigation__link:focus,
.Site-chapter-navigation__link:active {
  color: #0c0d0e;
}
.Site-chapter-navigation__section-title {
  text-transform: uppercase;
  color: #6a737c;
  margin: 16px 0 4px 8px;
  font-size: 11px;
  font-weight: inherit;
}
