.top-nav {
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.top-nav .nav-item {
    fill: #848d95;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
}

.top-nav .nav-item:hover, .top-nav .nav-item:active {
    fill: #3b4045;
    background-color: #eff0f1;
}

.nav-item .reputation-score {
    padding-left: 0.7em;
    font-weight: bold;
    font-size: 0.75em;
    color: #535a60;
}

.nav-item .budge-circle {
    color: #d0a278;
    font-size: 13px;
    margin-left: 0.5em;
}

.nav-item .budge-count {
    font-size: 12px;
    color: #d0a278;
}

.profile-img {
    width: 24px;
    height: 24px;
    border-radius: 3px;
}