@padding: 24px;
@max-content-width: 1264px;
@navigation-width: 164px;

@font-size--main: 0.81em;
@font-size--small: 0.75em;
@font-size--smallest: 0.69em;

@font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

@header-height: 50px;
@footer-height: 300px;
