.mini-profile{
  display: flex;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;

  &__icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;

    &-wrapper{
      cursor: pointer;
      color: #003569;
      text-decoration: none;
      background: none;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    //padding-left: 10px;
    margin-left: 14px;
    &-title{
      color: #262626;
      font-weight: 600;
      font-size: 18px;

      line-height: 18px;
    }
    &-sub-title{
      font-size: 14px;
      color: #999;

    }
  }
}