
.Header__search-form {
    border: none;
    background-color: #efefef;
    height: 60%;
    border-radius: 7px;
    width: 90%;
}

@media all and (max-width: 1367px) {
    .Header__search-form {
        width: 62%;
    }
}

.Header__search-form__svg {
    fill: #8e8e8e;
    height: 20px;
    padding: 10px;
}

.Header__search-form__input {
    color: #333;
    font-size: 1rem;
    font-weight: 700;
    height: 100%;
    width: 98%;
    background: transparent;
    border: none;
}

.Header__nav-button {
    background: none;
    box-sizing: border-box;
    height: 60%;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.Header__nav-link {
    box-sizing: border-box;
    padding: 10px;
    color: #8e8e8e;
}

.Header__link__image {
    height: auto;
    max-width: 23px;
    border-radius: 100%;
    margin-right: 0.4em;
}

.Header__nav-link:hover {
    background-color: #efefef;
}

.Header__nav-link_active {
    color: #333;
}

.Header__nav-button:hover {
    background-color: #efefef;
}


