.log-in {
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
  margin: 100px auto 50px;

  &__title {
    text-align: center;
  }

  &__grey-box {
    background-color: #f2f2f2;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }

  &__input-block {
    margin-bottom: 20px;

    &-info {
      text-align: center;
      color: #555555;
      line-height: 22px;
      font-size: 20px;
      font-weight: 400;
    }

    &-info a {
      color: #2e618d;
      text-decoration: underline;
    }

    &-info a:hover {
      color: #428bca;
      text-decoration: none;
    }

    & em {
      color: #555555;
      line-height: 22px;
      font-size: 20px;
    }
  }

  &__form {
    padding: 40px;
  }

  &__email-label {
    font-size: 16px;
    line-height: 22px;
    color: #898989;
    font-weight: normal;
  }

  &__email-text {
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 28px;
    height: 44px;
    width: 100%;
    border: 1px solid #c6c6c6;
  }

  &__remember-label {
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
  }

  &__btn-log-in {
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    padding: 12px 25px;
    font-weight: 700;
    background: #579edb;
    transition: 150ms;
    display: inline-block;
    border-style: solid;
    border-width: 0 0 4px 0;
    border-color: #3d6e99;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: none;
  }

  &__btn-log-in:hover {
    cursor: pointer;
    background: #428bca;
    color: #ffffff;
    border-color: #2e618d;
    text-decoration: none;
    box-shadow: none;
  }

  &__btn-log-in-github {
    font-size: 18px;
    line-height: 18px;
    padding: 12px 25px;
    font-weight: 700;
    transition: 150ms;
    display: inline-block;
    background: #898989;
    color: #ffffff;
    border-style: solid;
    border-width: 0 0 4px 0;
    border-color: #606060;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: none;
  }

  &__btn-log-in-github:hover {
    cursor: pointer;
    background: #646464;
    color: #ffffff;
    border-color: #454545;
    text-decoration: none;
    box-shadow: none;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
