h2 {
    background: url("../img/snowflakes.jpg");
    color: white;
    text-align: center;
    text-transform: uppercase;
    right: 15px;
    top: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 3px solid #f66;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 0.9rem;
}

.hidden {
    visibility: hidden;
    margin: 0;
    padding: 0;
}


.button {
    background-color: #3cce7b;
    padding: 6px 15px 7px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
    margin: 0 auto;
}


