.Header__logo{
    height: 36px;
    width:97px;
    padding-left: 20px;
}

.Header__logo-img {
    height: 32px;
    padding: 8px 8px 8px 0;
    width: 32px;
}

.Header__logo-img-txt {
    height: 18px;
    margin-right: 20px;
    width: auto;
    display: block;
}

@media (max-width: 1070px) {
    .Header__logo-img-txt {
        display: none;
    }
    .Header__logo{
        width:38px;
    }
}