.Posts{
    margin-bottom: 30px;
    width: 100%;
    min-width: 0;
    max-width: 100%;
}

.Posts__post{
    border: 1px solid rgb(52, 53, 54);
    border-radius: 4px;
    /*position: relative;*/
    background-color: rgba(26, 26, 27, 0.8);
    margin-bottom: 10px;
    color: rgb(129, 131, 132);
    fill: rgb(129, 131, 132);
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    transition: color 0.5s ease 0s, fill 0.5s ease 0s, box-shadow 0.5s ease 0s;
}

.Posts__post:hover{
    border: 1px solid rgb(129, 131, 132);
}

.Posts__post_votes{
    width: 40px;
    border-left: 4px solid transparent;
    height: 100%;
    left: 0;
    padding: 8px 4px 8px 0;
    top: 0;
}

.Posts__post_votes_up-arrow,.Posts__post_votes_down-arrow {
    height: 24px;
    width: 24px;
    font-family: FontAwesome, serif;
    color: rgb(129, 131, 132);
    border-radius: 2px;
    transition: background-color 0.1s ease 0s;
}

.Posts__post_votes_up-arrow:hover{
    color: #FF4500;
}
.Posts__post_votes_down-arrow:hover {
    color: rgb(90, 117, 204);
}

.Posts__post_votes_up-arrow:before {
    content: "\f062";
}

.Posts__post_votes_down-arrow:before {
    content: "\f063";
}

.Posts__post_votes_number{
    color: #D7DADC;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

.Posts__post_content{
    background: rgb(26, 26, 27);
    padding-top: 8px;
    width: calc(100% - 40px);
}

.Posts__post_header{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    /*position: relative;*/
    margin: 0px 8px 8px;
}

.Posts__post_header_channel-picture{
    width: 20px;
    height: 20px;
    margin-right: 4px;
    border-radius: 100%;
}

.Posts__post_header_channel-name{
    font-weight: 700;
    color: rgb(215, 218, 220);
    line-height: 20px;
    vertical-align: baseline;
}

.Posts__post_header_dot{
    margin: 0 4px;
    color: rgb(129, 131, 132);
    font-size: 6px;
    line-height: 20px;
    vertical-align: middle;
}

.Posts__post_header_text{
    color: rgb(129, 131, 132);
    display: inline;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    padding-top: 5px;
}

.Posts__post_text{
    margin: 8px 8px;
    color: rgb(215, 218, 220);
    overflow-wrap: break-word;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding-right: 5px;
}

.Posts__post_main-content{
    background: rgb(242, 248, 252);
    display: block;
    max-height: 512px;
    margin: 8px auto;
    /*position: relative;*/
}

.Posts__post_actions{
    height: 32px;
    padding: 0 8px 0 4px;
    position: relative;
}

.Posts__post_actions_action{
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 2px;
    transition: background-color 0.1s ease 0s;
    padding: 4px;
    margin-right: 4px;
    text-transform: capitalize;
}

.Posts__post_action-icon{
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
    width: 16px;
    font-family: FontAwesome, serif;
}

.Posts__post_action-comment:before{
    content: "\f075";
}

.Posts__post_actions_action:hover{
    text-decoration: none;
    background-color: rgba(215, 218, 220, 0.1);
    outline: none;
}

.Posts__post_action-award:before{
    content: "\f005";
}

.Posts__post_action-share:before{
    content: "\f14d";
}

.Posts__post_link:visited {
    color: rgb(65, 147, 198);
    fill: rgb(65, 147, 198);
}
.Posts__post_link {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
    color: rgb(79, 188, 255);
    fill: rgb(79, 188, 255);
    margin: 4px 8px;
  }