.Section-View{
    background-color: rgb(26, 26, 27);
    height: 40px;
    min-width: 320px;
}

@media (min-width: 960px) {
    .Section-View__content {
        width: 648px;
    }
}

.Section-View__choose-sort-menu-icon{
    margin-right: 2px;
    width: 20px;
}

.Section-View__choose-sort-menu{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 4px 2px 4px 10px;
    color: rgb(215, 218, 220);
    fill: rgb(215, 218, 220);
    background-color: rgb(26, 26, 27);
}

.Section-View__choose-sort-menu:hover{
    cursor: pointer;
}

.Section-View__choose-sort-menu > *{
    padding: 4px 2px 4px 2px;
}

.Section-View__choose-layout{
    margin: 0 16px 10px 24px;
    padding-right: 16px;
    border-right: 1px solid rgb(52, 53, 54);
}

.Section-View__choose-sort{
    margin: 0 0 10px 0;
}

.Section-View__btn{
    height: 20px;
    width: 20px;
    z-index: 1;
    fill: rgb(215, 218, 220);
}

.Section-View__btn-disabled{
    height: 20px;
    width: 20px;
    z-index: 1;
    fill: rgba(215, 218, 220, 0.2);
}

.Section-View__choose-layout-btns{
    margin-left: 10px;
}