.Sidebar__channels{
    padding: 12px 12px;
}

.Sidebar__channels_trending-channel-icon{
    height: 32px;
    margin-right: 8px;
    width: 32px;
    box-sizing: border-box;
    fill: rgb(255, 255, 255);
    border-radius: 100%;
    background: rgb(0, 121, 211);
    padding: 3px;
}

.Sidebar__channels_trending-channel-info{
    padding-right: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: block;
    text-overflow: ellipsis;
}

.Sidebar__channels_trending-channel-btn{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    width: 100%;
    padding: 4px 9px 2px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(215, 218, 220);
    color: rgb(26, 26, 27);
    fill: rgb(26, 26, 27);
    border-radius: 4px;
    border: 1px solid rgb(215, 218, 220);
}

.Sidebar__channels_trending-channel-name, .Sidebar__channels_trending-channel-subs{
    display: block;
}
