.Sidebar__premium-icon{
    height: 24px;
    fill: rgb(255, 69, 0);
    margin-right: 12px;
}

.Sidebar__premium-text{
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.Sidebar__premium-btn{
    flex: 0 0 84px;
    height: 26px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgb(26, 26, 27);
    background-color: rgb(255, 69, 0);
    border: 1px solid rgb(255, 69, 0);
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

.Sidebar__premium-btn:hover{
    text-decoration: none;
}
