.footer{
    text-align: center;
    position: relative;
    min-height: 18rem;
    color: white;
    width: 100%;
}

.footer p{
    font-family: Comic Sans MS, Comic Sans, cursive;
    position: absolute;
    font-weight: bold;
    font-size: 6rem;
    display: block;
    color: white;
    z-index: 100;
    width: 100%;
    top: 11rem;
}

.footer-img{
    filter: brightness(60%);
    max-height: 30rem;
    min-width: 100%;
}