.calendar {
  width: calc(7 * 55px);
  margin: auto;
}
.calendar__day {
  width: 50px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 5px 2px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: #000;
  overflow: hidden;
}
.calendar__button {
  padding: 5px 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.calendar__button:hover, .calendar__day:hover {
  background: #E0F2F1;
}
.calendar__button:active .calendar__day:active {
  background: #B2DFDB;
  outline: none;
  color: #000;
}
[active], [active]:hover {
  background: #B2DFDB;
}
.disabled {
  width: 50px;
  display: inline-block;
  text-align: center;
  padding: 5px 2px;
}
