.Posts__post_header{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 8px 8px;
}

.Posts__post_header_channel-picture{
    width: 20px;
    height: 20px;
    margin-right: 4px;
    border-radius: 100%;
}

.Posts__post_header_channel-name{
    font-weight: 700;
    color: rgb(215, 218, 220);
    line-height: 20px;
    vertical-align: baseline;
}

.Posts__post_header_dot{
    margin: 0 4px;
    color: rgb(129, 131, 132);
    font-size: 6px;
    line-height: 20px;
    vertical-align: middle;
}

.Posts__post_header_text{
    color: rgb(129, 131, 132);
    display: inline;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    padding-top: 5px;
}
