.Posts__post_actions{
    height: 32px;
    padding: 0 8px 0 4px;
    position: relative;
}

.Posts__post_actions_action{
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 2px;
    transition: background-color 0.1s ease 0s;
    padding: 4px;
    margin-right: 4px;
    text-transform: capitalize;
}

.Posts__post_action-icon{
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
    width: 16px;
    font-family: FontAwesome, serif;
}

.Posts__post_action-comment:before{
    content: "\f075";
}

.Posts__post_actions_action:hover{
    text-decoration: none;
    background-color: rgba(215, 218, 220, 0.1);
    outline: none;
}

.Posts__post_action-award:before{
    content: "\f005";
}

.Posts__post_action-share:before{
    content: "\f14d";
}
