body, div, section, figure {
    display: block;
}

body, main, div, section, figure, a, ul, li, span, h2, img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

ul, ol {
    list-style: none;
}

body {
    height: 100%;
    font: 13px/18px Proxima Nova,sans-serif;
    color: #fff;
    background: #101010;
}

.whole-wrapper {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
}

.container-main {
    padding: 0 0 50px;
}

.block-footer {
    background-color: #292c36;
}