.Logo{
    display: inline-block;
    align-self: center;
    margin-right: 1em;
    &--inverted{
      filter: invert(100%);
    }
  &--grey{
    filter: invert(60%);
  }
  &--small{
    height: 1em;
    width: 1em;
  }
}