.footer__social {
    text-align: right;
    right: 0;
    bottom: 0;
    list-style: none;
    margin-bottom: 0;
    max-width: 33%;
    position: absolute;
}

.footer__social-item {
    padding: 0 0 16px 24px;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
}

.footer__social-link {
    background-image: url("https://www.mozilla.org/media/protocol/img/icons/social/twitter/white.799723d2198f.svg");
    overflow: hidden;
    text-indent: 120%;
    white-space: nowrap;
    background-repeat: no-repeat;
    border-bottom: 1px solid transparent;
    display: block;
    height: 16px;
    width: 16px;
}

.footer__social-link.twitter {
    background-image: url("https://www.mozilla.org/media/protocol/img/icons/social/twitter/white.799723d2198f.svg");
}

.footer__social-link.instagram {
    background-image: url("https://www.mozilla.org/media/protocol/img/icons/social/instagram/white.c37f20f03c48.svg");
}
