.Button {
    display: flex;
    align-items: center;
    border-radius: 999px;
    border: none;
}

.Button__top_nav {
    background: none;
    box-sizing: border-box;
    height: 60%;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.Button__svg {
    height: 24px;
    fill: #8e8e8e;
}

.Button__top_nav:hover {
    background-color: #efefef;
}

.Button__more_info {
    height: 1.5em;
    width: 1.5em;
    background-color: transparent;
    background-image: url(../images/icons/dots.svg);
}

.Button__more_info:hover {
    filter: brightness(80%);
    background-color: rgba(0, 0, 0, .06);
}

.Button__form__save {
    border-radius: 0 8px 8px 0;
    width: 30%;
    color: #fff;
    background-color: #e60023;

}

.Button__form__select {
    width: 70%;
    height: 100%;
    border-radius: 8px 0 0 8px;
    color: #333;
    background-color: #fff;
}

.Button__form__select:hover, .Button__form__save:hover, .Footer__button:hover {
    filter: brightness(90%);
}