.Form {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.Form__search {
    border: none;
    background-color: #efefef;
    height: 60%;
    border-radius: 7px;
    width: 90%;
}

@media all and (max-width: 1367px) {
    .Form__search {
        width: 62%;
    }
}

.Form__search__svg {
    fill: #8e8e8e;
    height: 20px;
    padding: 10px;
}

.Form__input {
    color: #333;
    font-size: 1rem;
    font-weight: 700;
    height: 100%;
    width: 98%;
    background: transparent;
    border: none;
}

.Form__in_post {
    width: 90%;
    background-color: transparent;
    display: none;
    position: absolute;
    top: 1em;
    left: 6.5%;
    height: 2.6em;
    text-align: center;
}

