.Link {
    display: flex;
    align-items: center;
    border-radius: 999px;
    text-decoration: none;
}

.Link__top_nav {
    box-sizing: border-box;
    padding: 10px;
    color: #8e8e8e;
}

.Link__image {
    height: auto;
    max-width: 23px;
    border-radius: 100%;
    margin-right: 0.4em;
}

.Link__top_nav:hover {
    background-color: #efefef;
}

.Link__top_nav__active {
    color: #333;
}


.Link__in_post {
    color: #fff;
    fill: #fff;
    background-color: rgba(51, 51, 51, .8);
    padding: .5em;
}

.Link__in_post:hover {
    background-color: #333;
}

.Link__in_post__svg {
    height: 1em;
}

.Link__container {
    display: none;
    width: 87%;
    position: absolute;
    bottom: 1em;
    left: 1.1em;
    height: 2em;
    justify-content: space-between;
}