@import "../../variables";

.Pagination{
  margin: 1.25em 0;
  float: right;

  &__button{
    display: inline-block;
    padding: 0.33em 0.67em;
    font-size: @font-size--small;
    color: #848d95;
    border: 1px solid #e4e6e8;
    border-radius: 3px;
  }

  &__button--selected{
    color: #FFF;
    background-color: #F48024;
    border-color: transparent;
  }
}