.header{
    background-color: black;
    font-size: 1.2rem;
    font-family: "Segoe UI Semibold", sans-serif;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    min-height: 4.7rem;
}

.navigation{
    list-style-type: none;
    align-self: center;
}

.header__navigation_wide{
    align-self: center;
}

#navigation_open{
    height: 23px;
    width: 23px;
    margin-top: 25px;
    margin-left: 25px;
    border: none;
    cursor: pointer;
    background-size: 23px 23px;
    background-image: url("../../../sources/_0_percentage/burger_disabled.png");
}

#navigation_open:hover{
    background-image: url("../../../sources/_0_percentage/burger_enabled.png");
}

.navigation__person-icon{
    color: white;
    height: 0.9rem;
    width: 0.9rem;
    margin-right: 0.5rem;
}

.image-link__logo{
    height: 4.3rem;
    width: 10.5rem;
    align-self: center;
}

.navigation__item{
    display: inline-block;
    margin: 0 1rem;
}

.navigation__item_vertical{
    display: block;
    height: 30px;
    margin-top: 7%;
    text-align: left;
}

.navigation__item a{
    font-weight: 400;
    color: darkgrey;
    text-decoration: none;
}

.navigation__item a:hover{
    color: #02a388;
}

.navigation__boards-icon{
    background-image: url("https://www.istockphoto.com/landing/assets/unisporkal_engine/images/istock/boards/icon_boards-new.svg");
    display: inline-block;
    height: 0.875rem;
    width: 0.875rem;
    margin-right: 0.5rem;
}

.navigation__item_right-border{
    border-right: 2px solid #474747;
    padding-right: 2rem;
}

.navigation__item .white-text{
    color: white;
}

/* Responsive part here */

.show-left-menu{
    transform: translateX(300px);
    overflow: hidden;
}

.show-right-menu{
    transform: translateX(-300px);
    overflow: hidden;
}

.header__navigation_thin{
    display: none;
}

.navigation__item_thin{
    display: none;
}

.navigation_super-thin{
    display: none;
}

.open-profile{
    width: 1.0rem;
    height: 1.0rem;
    border: none;
    cursor: pointer;
    background-image: url("../../../sources/_0_percentage/person-icon.png");
    background-size: 1.0rem 1.0rem;
    padding-top: 11px;
}

#nav_hidden{
    display: none;
    padding-top: 50px;
}

#left_nav_hidden{
    display: none;
    padding-top: 50px;
}

@media screen and (max-width: 1000px) {
    .header__navigation_wide {
        display: none;
    }
    .header__navigation_thin{
        display: block;
    }
    .navigation__item_wide{
        display: none;
    }
    .navigation__item_thin{
        display: inline-block;
    }
}

@media screen and (max-width: 620px) {
    .navigation_normal{
        display: none;
    }
    .navigation_super-thin{
        display: inline-block;
    }
}
