.Feature {
  padding: 16px;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;

  &__image {
    width: 66.6%;
    padding: 0 16px;
    box-sizing: border-box;

    &-mobile {
      display: none;
    }
  }

  &__text {
    width: 33.3%;
  }

  &__extra-heading {
    margin-bottom: 16px;
    font-size: .75rem;
    letter-spacing: 1px;
    line-height: 2;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__main-heading {
    font-size: 2.25rem;
    line-height: 1.33;
    margin-bottom: 24px;
    font-weight: 500;
  }

  &__main-content {
    font-size: 1.25rem;
    line-height: 1.4;
    color: #42526E;
  }
}

@media (max-width: 1000px) {
  .Feature {
    flex-direction: column;

    &:nth-child(2) {
      flex-direction: column-reverse;
    }

    &__image {
      width: 100%;
    }

    &__text {
      width: 100%;
    }
  }
}

@media (max-width: 750px) {
  .Feature {
    &__image {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: inline;
      }
    }

    &__main-heading {
      font-size: 1.5rem;
    }
  }
}