body {
    margin: 0;
    padding: 0;
    background: #f6f7f8;
    font-family: Graphik Meetup, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
    max-width: 1100px;
    margin: auto;
}