.top-bar__logo {
    margin: 0 20px;
}

.top-bar__sign-in-up {
    margin: 0 12px;
}

.top-bar__sign-in-up a {
    text-decoration: none;
    font-size: 14px;
    color: rgba(46,62,72,.6);;
    font-weight: 400;
    padding: 0 8px;
}

.top-bar__create-group {
    color: #00a2c7 !important;
    font-weight: 600 !important;
    border-right: 1px solid lightgray;
    padding: 5px 10px;
}

.top-bar__sign-in-up video {
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
}