.useful-tags__tag {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 500;
    text-decoration: none;
    border-radius: 4px;
    padding: 6px 16px;
    background: rgba(41,77,107,.12);
    margin: 0 10px;
    color: #2e3e48;
}

.useful-tags__bottom {
    margin-top: 25px;
}

.useful-tags__tag:hover {
    background: #f6f7f8;
}