@import "../config.css";

header {
  height: $header-height;
  background-color: #24292e;
  margin-bottom: 24px;
}

main {
  max-width: $main-width;
  margin: auto;
}

aside {
  width: $aside-width;
  float: left;
}

article {
  width: $article-width;
  float: right;
}