.tiles {
  position: absolute;
  top: 0;
  padding: 2vh;

  .tile {
    position: absolute;
    width: 10vh;
    height: 10vh;
    border-radius: 5px;
    transition: box-shadow 0.3s;

    &-2 { background: #eee4da;}
    &-4 {background: #ede0c8;}
    &-8 {background: #FFAD68;}
    &-16 {background: #f59563; color: white;}
    &-32 {background: #f67c5f; color: white;}
    &-64 {background: #f65e3b; color: white;}
    &-128 {background: #edcf72;}
    &-256 {background: #edcc61; box-shadow: 0 0 10px 1px #DCE775;}
    &-512 {background: #edc850; box-shadow: 0 0 15px 1px #D4E157;}
    &-1024 {background: #edc53f;}
    &-2048 {background: #edc22e; box-shadow: 0 0 10px 1px #FFC107;}


    .tile_content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      transform-origin: center center;
      animation: pop-up 0.3s ease-in forwards;

      span {
        font-size: 4.5vh;
        font-family: 'Roboto', sans-serif;
      }
    }
  }
}