.Material-button {
  color: #1486f3;
  font-size: 13px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  white-space: nowrap;
  cursor: pointer;
  height: 30px;
  padding: 5px 15px;
  border-radius: 40px;
  background-color: #eaf4ff;
  box-shadow: inset 0 0 0 1px rgba(20,134,243,0.09);
  border: none;

  &:hover {
  }
}
