<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Facebook</title>
</head>
<body>

<header>
    <button>F</button>

    <input type="search" placeholder="Пошук">
    <input type="submit" value="&#x1F50D">
    <span><a href="#">Yuriy</a> |</span>
    <span><a href="#"> Головна</a> |</span>
    <span><a href="#">Створити</a> | </span>
    <button>People</button>
    <button>Messenger</button>
    <button>Q&A</button>
</header>

<div class="left_side_menu">
    <a href="#">Yuriy Shtokhman</a>>

    <div class="feed">
        <ul>
            <li><a href="#">Новини</a></li>
            <li><a href="#">Messenger</a></li>
            <li><a href="#">Watch</a></li>
        </ul>
    </div>

    <div class="quick_access">
        <p>Швидкий доступ</p>

        <ul>
            <li><a href="#">Yuriy Shtokhman</a> 5</li>
        </ul>
    </div>

    <div class="interesting">
        <p>Цікаве</p>

        <ul>
            <li><a href="#">Групи</a></li>
            <li><a href="#">Фан-клуби</a></li>
            <li><a href="#">Події</a></li>
            <li><a href="#">Списки друзів</a></li>
            <li><a href="#">Кампанії зі збору...</a></li>
            <li><a href="#">Більше</a></li>
        </ul>
    </div>
</div>

<div class="make_post">
    <section>
        <a href="https://www.facebook.com/profile.php?id=100006968323752"><img src="fb_avatar.png"></a>
        <textarea rows="7" cols="70" placeholder="Що у Вас на думці, Yuriy?"></textarea>
    </section>

    <section>
        <button value="1" type="submit">Світлини</button>
        <button value="2" type="submit">Позначити</button>
        <button>Почуття</button>
    </section>
</div>

<hr>

<div class="stories">
    <form>
        <span>Розповіді</span>
        <span><a href="#">Архів</a></span>
        <span><a href="#">Налаштування</a></span>

        <button>Додати до розповіді</button>
    </form>

    <ul>
        <li>
            <button value="3" type="submit">Nada Boukedi</button>
        </li>
        <li>
            <button value="4" type="submit">Katy Vinnyk</button>
        </li>
    </ul>
</div>

<hr>

<div class="newsfeed">

    <section>
        <p>
            <span><a href="#">24 Канал</a></span>
            <br>
            <span>23 год</span>
        </p>

        <p>
            Уже за перший місяць 2019-го на кір в Україні захворіли понад 15 тисяч людей. Розповідаємо, що потрібно
            знати
            про цей небезпечний вірус, що вберегти себе та рідних.
            Спойлер для тих, хто не дивиться відео: щеплення — єдиний надійний захист від кору.
        </p>
    </section>

    <hr>

    <section>
        <p>
            <span><a href="#">BBC News Ukrainian</a></span>
            <br>
            <span>2 год</span>
        </p>

        <p>
            Росія ставить на кораблі зброю, що викликає у ворога галюцинації та нудоту, пише сьогодні Times.
            <br>
            <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fbbc.in%2F2DVRYDD%3Ffbclid%3DIwAR3xPkIPt8GWtxiLJ7gkMGmtcJXklkZMAGNiQW5PuouUO8sbQuhnXJIUX1g&h=AT0LEZPLfwoq93wp4eOOLofqhmZIdnL__ebhYtYjSNkUSiy1gJVBXwJkoHme9UwKPA8gnta5gQV-_doZzzA8OVMQ02Um8s6MlEwU4bUZacZUI2Jj1MWZd55D0SMYPpvo8FLgNmWsmBIMiQ3aZrYhvpZ3ijSdqiN4eyS7IsmWzSo404k3D5ICPWecHJi9VBM4pFgjtFvl6DgL3zlb3wgWGGwqlucE_th8NrOySak18fkkGWZWZDaIk_0CyUzWkKPGoZAv7fFPmSppmTJQ3ViiUwNjMBDJwD4U_2KvADhcNdDi1aVgiBY-1ZoqW3w_L1QVpQdSUpBs61UWvIpA1r3x_7jglUGGvkni-2SFdRItGmeNxjyYQvdIcXY7GQvPC-9cluJ0-ta-lK7133zHMtq7BbvBXFMZmihlPCQIRjtLgGSw8T3VV3MlBUZAK_wksf9Cl1fKGRCrtgSmFTPxwN6Vk-kokIVNYnhvCI9TzLSXv7yG9P5TQjGb0SPq5DgvcDsyoRDOnA6LcpYCAu-r7w8_yZkSh41OqcDL8oMU2rstoOvPSh1GArIMLR8evwZYNMyZncj4t0PV-P0FsxlG4Jp1Yn2bMJXipONO0jqATSOpC_8_aZyq0sbM8eq3hKTUs0t_dM_vaojQDA">
                <img src="https://external.flwo1-1.fna.fbcdn.net/safe_image.php?d=AQD0bnxuxakwLDFl&w=540&h=282&url=https%3A%2F%2Fichef.bbci.co.uk%2Fnews%2F1024%2Fbranded_ukrainian%2F81CE%2Fproduction%2F_105503233_gettyimages-106345901.jpg&cfs=1&upscale=1&fallback=news_d_placeholder_publisher&_nc_hash=AQBhUGXKLPTtyn5l">
            </a>
        </p>
    </section>

    <hr>

    <section>
        <p>
            <span><a href="https://www.facebook.com/profile.php?id=100009089887506&__tn__=%2CdlC-R-R&eid=ARCQf0C9z3xilLBmFzzuTdSNRzfJSwEZtHJSlItYIzgOL0wQJ5BBNPNMfdtx8IgHV09gRfHCYlWATZH3&hc_ref=ARTe6JClvMAbcPs-9TDNC9qXotyUtboZhcmwwREe3zhNvav84DJg8b-orO7k0liqX3g">
                Виктория Юхненко</a> перебуває в 
                <a href="https://www.facebook.com/pages/Antalya-Turkey/114957048520360?__tn__=%2CdkC-R-R&eid=ARCtjEbonq7gcirKluowmkUu9-7PwrwGHcJttdUUupbdlggp1_YaInBcolzzvpMIDMG8k3DnTgD2rv7b&hc_ref=ARTe6JClvMAbcPs-9TDNC9qXotyUtboZhcmwwREe3zhNvav84DJg8b-orO7k0liqX3g&fref=tag">Antalya, Turkey</a> </span>
            <br>
            <span>23 год</span>
        </p>

        <p>
            Sunny Antalya
            <br>
            <img src="https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-9/51393304_2125355921110717_4664921949082746880_n.jpg?_nc_cat=110&_nc_ht=scontent.flwo1-1.fna&oh=d319676a50cfe1a345e2241197d2cf13&oe=5CFF2DE9">
        </p>
    </section>
</div>

<hr>

<div class="friends_suggestions">
    <span>Люди, яких ви можете знати </span>

    <a href="#">Усі</a>

    <ul>
        <li>
            <p>
                Olena Gidiya <br>
                2 спільних друга <br>
                <button>Додати друга</button>
                <button>Видалити</button>
            </p>
        </li>

        <li>
            <p>
                Євген Могитич <br>
                <a href="#">Vitalik Yaremchuk</a> є спільним другом <br>
                <button>Додати друга</button>
                <button>Видалити</button>
            </p>
        </li>

        <li>
            <p>
                Андрій Присяжник <br>
                5 спільних друзів <br>
                <button>Додати друга</button>
                <button>Видалити</button>
            </p>
        </li>

        <li>
            <p>
                Роман Хомишинець<br>
                1 спільний друг <br>
                <button>Додати друга</button>
                <button>Видалити</button>
            </p>
        </li>

        <li>
            <p>
                Yulya Fedkiv<br>
                11 спільних друзів <br>
                <button>Додати друга</button>
                <button>Видалити</button>
            </p>
        </li>
    </ul>
</div>

<hr>

<footer>
    <ul>

        <li>
            <a href="#">Конфіденційність</a>
        </li>

        <li>
            <a href="#">Умови використання</a>
        </li>

        <li>
            <a href="#">Розміщення реклами</a>
        </li>

        <li>
            <a href="#">Типи реклами</a>
        </li>

        <li>
            <a href="#">Реп'яшки</a>
        </li>

        <li>
            <a href="#">Ще</a>
        </li>
    </ul>

    Facebook © 2019
</footer>
</body>
</html>