<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вхідні-shtokhman@ucu.edu.ua</title>
</head>
<body>

<header>

    <form>
        <p1>
            <a href="https://mail.google.com/mail/u/0/#inbox">GMAIL</a>
        </p1>

        <input type="search" placeholder="Пошук у пошті">

        <label for="google_apps">Додатки Google</label>
        <select id="google_apps">
            <option value="choose">--Оберіть--</option>
            <option value="account">Обліковий запис</option>
            <option value="gmail">Gmail</option>
            <option value="drive">Диск</option>
        </select>

        <button type="button">Сповіщення</button>

        <button type="button">Обліковий запис Google</button>

    </form>

    <hr>

    <div>
        <ul>
            <li><a href="#">Вхідні</a></li>
            <li><a href="#">Із зірочкою</a></li>
            <li><a href="#">Відкладені</a></li>
            <li><a href="#">Надіслані</a></li>
            <li><a href="#">Чернетки</a></li>
            <li>
                <label for="more_menu">Більше</label>
                <select id="more_menu">
                    <option value="choose">--Більше--</option>
                    <option value="important"><a href="">Важливі</a></option>
                    <option value="chats">Чати</option>
                </select>
            </li>
        </ul>
    </div>

</header>

<hr>

<div class="main-cover">
    <label>
        <input type="checkbox">
    </label>
    <button>Оновити</button>
    <span><a href="#">1-11 з 11</a></span>
    <span>
        <a href="#">&lt;</a>
        <a href="#">&emsp;</a>
        <a href="#">&gt;</a>
    </span>
    <button>Налаштування</button>
</div>

<hr>

<div class="mailbox">
    <section class="mail_env">

        <label>
            <input type="checkbox">
        </label>

        <button>&#9733;</button>

        <span><strong>Відділ студентськог.</strong></span>
        <span>Fwd: тренінг на аудит доступності виборчих дільниць</span>
        <span>Слава Ісусу Христу!</span>
        <span><time datetime="4-2-2019">4 лютого</time> </span>
    </section>

    <section class="mail_env">

        <label>
            <input type="checkbox">
        </label>

        <button>&#9733;</button>

        <span><strong>YouTube</strong></span>
        <span>Computer Science UCU sent you a video: "LA-CS-2019-L1-1" - </span>
        <span>Computer Science UCU has shared a video with yo...</span>
        <span><time datetime="1-2-2019">1 лютого</time> </span>
    </section>

    <section class="mail_env">

        <label>
            <input type="checkbox">
        </label>

        <button>&#9733;</button>

        <span><strong>Rostyslav Hryniv</strong></span>
        <span>Introductory lecture</span>
        <span>https://youtu.be/mwk23WcX2jQ!</span>
        <span><time datetime="1-2-2019">1 лютого</time> </span>
    </section>

    <section class="mail_env">

        <label>
            <input type="checkbox">
        </label>

        <button>&#9733;</button>

        <span><strong>Rostyslav Hryniv</strong></span>
        <span>Lecture 1</span>
        <span>https://youtu.be/W6_o_jYVRG0</span>
        <span><time datetime="1-2-2019">1 лютого</time> </span>
    </section>

</div>

<hr>

<footer>
    <span>Використано 0,15 ГБ</span>

    <span>
        <a href="https://drive.google.com/u/2/settings/storage?hl=uk">Керувати</a>
    </span>

    <span>
        <a href="https://www.google.com/gmail/about/policy/">Політики програми</a>
    </span>

    <span>
        За технологією
        <a href="https://www.google.com/">Google</a>
    </span>

    <span>Остання діяльність в обліковому записі: 0 хвилин тому</span>

    <span>
        <a href="https://mail.google.com/mail/u/2/?ui=2&ik=f8a105bfb3&jsver=y0bFHK9eTmc.uk.&cbl=gmail_fe_190128.13_p5&view=ac">Деталі</a>
    </span>
</footer>

</body>
</html>