<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML5DOCTOR</title>
</head>
<body>
<a href="http://html5doctor.com/"><img src="logo.png"></a>
<header role="banner">
    <div>
        <a href="http://html5doctor.com/about/">About </a>|
        <a href="http://feeds2.feedburner.com/html5doctor"> RSS </a>|
        <a href="http://feeds.feedburner.com/HTML5DoctorComments"> Comments RSS </a>|
        <span>Doctor Network</span>
        <ul>
            <li><a href="http://html5doctor.com/#">Doctor Network</a></li>
            <li><a href="http://html5gallery.com/">HTML5 Gallery</a></li>
            <li><a href="http://docteurhtml5.com/html5/">Docteur HTML5</a></li>
            <li><a href="https://github.com/html5doctor/">HTML5 Doctor on Github</a></li>
        </ul>
    </div>

    <div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Article Archieve</a></li>
                <li><a href="#">Element Index</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
        </nav>
    </div>

    <div>
        <form action="#" method="get">
            <input type="search">
            <input type="submit" value="Search">
        </form>
    </div>
</header>

<hr size="10" noshade="">

<article class="post">
    <h5>Featured Article</h5>
    <header>
        <h1><a href="http://html5doctor.com/computer-says-no-to-html5-document-outline/">Computer says NO to HTML5
            document outline</a></h1>
        <em>
            <time datetime="09-06-2016">14 December 2017</time>
            by
            <a href="http://html5doctor.com/author/stevef/">Steve Faulkner</a></em>
    </header>

    <p>
        What a brilliant idea! For the longest time HTML5 specified, and advised developers, that it no longer
        mattered what the number (1 to 6) was in a heading element (when used in conjunction with sectioning
        elements). What mattered was the nesting level of the H1-h6 in sectioning elements, just like the X&lt;H&gt;TML
        promised land, but […]
    </p>

    <p>
        <a href="http://html5doctor.com/computer-says-no-to-html5-document-outline/">Read full post</a>
    </p>

</article>

<hr size="10" noshade="">

<section>
    <h2><a href="http://html5doctor.com/element-index/">HTML5 Element Index</a></h2>

    <div>
        <p>Head</p>
        <ul>
            <li><a href="#">doctype</a></li>
            <li><a href="#">html</a></li>
            <li><a href="#">head</a></li>
            <li><a href="#">title</a></li>
            <li><a href="#">base</a></li>
            <li><a href="#">link</a></li>
            <li><a href="#">meta</a></li>
            <li><a href="#">style</a></li>
            <li><a href="#">script</a></li>
            <li><a href="#">noscript</a></li>
        </ul>
    </div>

    <div>
        <p>Sections</p>
        <ul>
            <li><a href="#">body</a></li>
            <li><a href="#">article</a></li>
            <li><a href="#">nav</a></li>
            <li><a href="#">aside</a></li>
            <li><a href="#">section</a></li>
            <li><a href="#">header</a></li>
            <li><a href="#">footer</a></li>
            <li><a href="#">h1-h6</a></li>
            <li><a href="#">main</a></li>
            <li><a href="#">address</a></li>
        </ul>
    </div>

    <div>
        <p>Grouping</p>
        <ul>
            <li><a href="#">p</a></li>
            <li><a href="#">hr</a></li>
            <li><a href="#">pre</a></li>
            <li><a href="#">blockquote</a></li>
            <li><a href="#">ol</a></li>
            <li><a href="#">ul</a></li>
            <li><a href="#">li</a></li>
            <li><a href="#">dl, dt, dd</a></li>
            <li><a href="#">figure</a></li>
            <li><a href="#">figcaption</a></li>
            <li><a href="#">div</a></li>
        </ul>
    </div>

    <div>
        <p>Tables</p>
        <ul>
            <li><a href="#">table</a></li>
            <li><a href="#">caption</a></li>
            <li><a href="#">thead</a></li>
            <li><a href="#">tbody</a></li>
            <li><a href="#">tfoot</a></li>
            <li><a href="#">tr</a></li>
            <li><a href="#">th</a></li>
            <li><a href="#">td</a></li>
            <li><a href="#">col</a></li>
            <li><a href="#">colgroup</a></li>
        </ul>
    </div>
</section>

<hr size="10" noshade="">


<section>
    <h2><a href="http://html5doctor.com/article-archive/">More Posts from HTML5 Doctor</a></h2>

    <hr size="10">

    <article>
        <h3><a href="http://html5doctor.com/the-woes-of-date-input/">The woes of date input</a></h3>
        <em>
            <time datetime="19-01-2016">January 19th, 2016</time>
            by
            <a href="http://html5doctor.com/author/iand/">Ian Devlin</a>
        </em>

        <hr>

        <p>
            One of the many new input types that HTML5 introduced is the date input type which, in theory, should allow
            a developer to provide the user with a simple, usable, recognisable method of entering a date on a web page.
            But sadly, this input type has yet to reach its full potential. Briefly, the date […]
        </p>

        <hr>
    </article>

    <article>
        <h3><a href="http://html5doctor.com/html-developers-please-consider/">HTML Developers: Please Consider</a></h3>
        <em>
            <time datetime="09-12-2015">December 9th, 2015</time>
            by
            <a href="http://html5doctor.com/author/stevef/">Steve Faulkner</a>
        </em>

        <hr>

        <p>
            ARIA is an amazing technology, it allows developers to add meaning to meaningless HTML or override meaning
            on HTML that is being repurposed and sometimes misused, so that users who rely upon the meaning of HTML, as
            implemented in browsers, can understand and interact with HTML User Interfaces successfully.
        </p>

        <hr>
    </article>

    <form action="http://html5doctor.com/article-archive/">
        <input type="submit" value="Find more articles in the complete HTML5 Doctor archive">
    </form>

</section>

<hr size="10" noshade="">

<div>
    <aside>
        <h4>Sponsors</h4>
    </aside>
</div>

<hr size="10" noshade="">

<aside>
    <h3>HTML5 Gallery</h3>
    <a href="http://html5gallery.com/"><img
            src="http://html5doctor.com/wp-content/themes/html5doctor2/images/the-gallery.png"></a>

    <hr>

    <h3><a href="http://thewebevolved.com/">BEGINNING HTML5&CSS3</a></h3>
    <p>
        The Web Evolved: A new book on HTML5 & CSS3 by Richard Clark, Oli Studholme, Christopher Murphy and Divya
        Manian.
    </p>

    <a href="http://thewebevolved.com/"><img
            src="http://html5doctor.com/wp-content/uploads/2013/01/web-evolved.jpg"></a>

    <form action="http://thewebevolved.com/">
        <input type="submit" value="Buy it now">
    </form>

    <hr>

    <h3><a href="http://diveinto.html5doctor.com/">DIVE INTO HTML5</a></h3>
    <p>
        Sadly, Mark Pilgrim has stopped maintaining this project. Along with other members of the web community we want
        to see it continue. We’re hosting a copy and plan to help keep it up-to-date.
    </p>

    <form action="http://diveinto.html5doctor.com/">
        <input type="submit" value="Read Dive into HTML5">
    </form>

</aside>

<hr size="10" noshade="">

<footer>

    <img src="http://html5doctor.com/wp-content/themes/html5doctor2/images/HTML5_Badge_64.png">
    
    <p>
        This site is licensed under a
        <a href="http://creativecommons.org/licenses/by-nc/2.0/uk/">Creative Commons Attribution-Non-Commercial 2.0</a>
        share alike license. Feel free to change, reuse modify and extend it. Some
        authors will retain their copyright on certain articles.
    </p>

    <p>
        Copyright © 2019 HTML5 Doctor. All rights reserved. Hosted by
        <a href="http://www.mediatemple.net/go/order/?refdom=richclarkdesign.com">(mt) Media Temple</a>
        . Branding by
        <a href="http://olik.co.uk/">Oliver Ker</a>.
    </p>
</footer>

</body>
</html>