.enemy {
  transition: transform 0.2s;

  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #ea945b;

  &_hit {
    transform: scale(1.1);
  }
  &_dead {
    transform: scale(0);
  }

  @keyframes face-move {
    0% { margin-top: -6px }
    100% { margin-top: 6px }
  }

  &__face {
    position: absolute;
    width: 12px;
    height: 20px;
    top: 16px;
    left: 24px;

    animation: face-move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  &__eye-left {
    position: absolute;
    background-color: #111;
    width: 4px;
    height: 6px;
    border-radius: 2px;

    left: 0;
  }
  &__eye-right {
    position: absolute;
    background-color: #111;
    width: 4px;
    height: 6px;
    border-radius: 2px;

    right: 0;
  }

  &__mouth {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #222;

    bottom: 0;
    left: calc(50% - 4px);
  }

}
