body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.game {
    position: absolute;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

