@import "common";


.menu {
  background-color: #FFFFFFAA;
  font-family: "Droid Sans Mono", monospace;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 3;

  &__background {
    @include background;

    &_hidden {
      display: none;
    }

    &_start {
      background-color: #FFF;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 100px;
  }

  &__title {
    color: #000000;
    font-size: 40px;
  }

  &__score {
    color: #000000AA;
    font-size: 28px;
  }

  &__button {
    background-color: #433521;
    border: none;
    color: #FFF;
    /*border: 2px solid #000000;*/
    outline: none;

    font-size: 22px;
    height: 34px;
    width: 104px;
    border-radius: 15px;
    box-sizing: border-box;

    cursor: pointer;

    &:hover {
      background-color: #debc80;
    }

    &:active {
      width: 114px;
      height: 37px;
      border-radius: 16.5px;

      margin: -1.5px -5px;
    }
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__topbar {
    background-color: rgba(222, 235, 255, 0.67);
    height: 40px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__topbar-score {
    color: #433521;
    margin: 0 20px;
    font-family: "Droid Sans Mono", monospace;
    font-size: 30px;
  }
  &__topbar-button {
    position: relative;
    background-color: #433521;
    border: none;
    color: #FFF;
    /*border: 2px solid #0e2639;*/
    outline: none;

    font-size: 20px;
    height: 28px;
    width: 80px;
    border-radius: 14px;
    box-sizing: border-box;

    margin-left: 20px;

    cursor: pointer;
  }

  &__topbar-button:hover {
    background-color: #debc80;
  }
  &__topbar-button:active {
    left: -4px;
    width: 88px;
    height: 31px;
    border-radius: 15.5px;
  }
}