.course-list-cart {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: .25rem;
  background-color: #fff;
  &__wrapper {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
  }
  &__description {
    //padding-top: 1rem;
    //padding-bottom: 1rem;
    display: flex;
    align-items: center;

  }
  &__title-author{
    padding-left: 2rem;
  }
  &__header{
    font-size: 1.25rem;
    font-weight: 500;
  }
  &__icon-wrapper{

  }
}

//profile-minimal

.profile-minimal {
  display: flex;
  align-items: baseline;

&__author{
  font-size: 15px;
  transition: color .15s;
  color: rgba(0,0,0,.7);
  text-transform: capitalize;
  cursor: pointer;
}
  &__extra{
    padding-left: 1rem;
    font-size: .875rem;
    font-weight: 400;
    opacity: .6;
    color: #000;

  }
}