.Sidebar__home-content{
    padding: 12px;
}

.Sidebar__home_header{
    background: url('../../images/home-banner.png') center center / cover no-repeat rgb(0, 121, 211);
    height: 34px;
    width: 100%;
    z-index: -1;
    border-radius: 4px 4px 0 0;
}

.Sidebar__home-header-text{
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.Sidebar__home_reddit-person{
    display: inline-block;
    height: 68px;
    position: relative;
    width: 40px;
    background: url('../../images/snoo-home.png') 0 0 / 40px 68px;
    vertical-align: middle;
    margin-top: -46px;
    z-index: 0;
}

.Sidebar__home-btn{
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 32px;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    margin-top: 10px;
}

.Sidebar__home-btn:hover{
    text-decoration: none;
}

.Sidebar__home-btn-post{
    background-color: rgb(215, 218, 220);
    color: rgb(26, 26, 27);
    border-color: rgb(215, 218, 220);
}

.Sidebar__home-btn-comm{
    color: rgba(215, 218, 220, 0.5);
    cursor: not-allowed;
    border-color: rgba(215, 218, 220, 0.5);
}