@import "../config";

header {
  height: $header-height;
  background-color: #24292e;
  margin-bottom: 24px;
}

main {
  max-width: $main-width;
  margin: auto;
  position: relative;
}

aside {
  width: $aside-width;
  position: absolute;
}

article {
  width: $article-width;
  position: absolute;
  right: 0;
}