.Header__logo, .Header__navigation-main, .Header__navigation-additional,
.Header__navigation-additional-icons, .Header__navigation-additional-btn{
    align-items: center;
    display: inline-flex;
    flex-direction: row;
}

.Header__navigation-additional-btn-text{
    flex: 1 0 0;
}

.Header__navigation-additional-btn{
    text-align: left;
    margin-left: 8px;
}

.Header, .Header-left, .Header__search {
    flex-grow: 1;
}

.Footer__links{
    display: flex;
    justify-content: space-between;
}

.Posts{
    display: flex;
    flex-direction: column;
}

.Posts__post{
    display: flex;
    flex-direction: row;
}

.Section-View-content{
    display: flex;
}

.Section-View__choose-sort{
    display: flex;
    align-items: center;
    top: 0;
}

.Section-View__choose-sort-menu, .Section-View__choose-layout{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Sidebar__premium-text{
    flex: 1 1 auto;
}
.Posts__post_header, .Sidebar__premium{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Sidebar__premium{
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Sidebar__premium-icon{
    flex: 0 0 24px;
}

.Sidebar__channels_trending-channel{
    display: flex;
    align-items: center;
    padding: 12px 0 4px;
}

.Sidebar__channels_trending-channel-icon{
    flex: 0 0 32px;
}
.Sidebar__channels_trending-channel-info{
    flex: 1 1 100%;
}

.Sidebar__channels_trending-channel-btn{
    flex: 0 0 106px;
}

.Sidebar__channels{
    /*display: flex;*/
    /*flex-direction: column;*/
}

.Posts__post_votes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Posts__post_actions{
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    align-items: center;
}

.Posts__post_actions_action{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Header-right{
    flex-grow: 0;
}

.Header{
    display: flex;
}

@media (min-width: 788px) {
    .Header__navigation-additional {
        display: flex;
    }
}