@import "common-styles";

@font-face {
  font-family: "My Segoe UI";
  src: url("../fonts/Segoe-UI.ttf");
}

body {
  margin: 0;
  font-family: "My Segoe UI", sans-serif;
  background: #f6f8fa;
  font-size: $medium-font;
}
