$small-font: 12px;
$medium-font: 14px;
$big-font: 16px;
$grey-color: #6a737d;
$blue-color: #0366d6;
$border-color: #D2D6D7;

%basic-link {
  text-decoration: none;
  color: #24292e;
  font-weight: 600;
}

%basic-link-hover {
  color: $blue-color;
}

%underscored {
  border-bottom: 1px solid $border-color;
}

%main-block {
  padding: 16px 0;
  margin: 0 16px;
}

%right-webkit {
  float: right;
  transform: rotate(90deg);
  margin-left: 8px;
  font-size: 12px;
  width: 5px;
}