@import "common-styles";

.Footer {
  font-size: $small-font;
  color: $grey-color;
  @extend %main-block;

  &__github-icon {
    width: 24px;
    height: 24px;
    fill: #c6cbd1;
  }

  &__github-link {
    color: $grey-color;
    text-decoration: none;
    margin-right: 32px;
  }

  &__github-link-text, &__github-icon {
    vertical-align: middle;
  }

  &__navigation, &__links {
    display: inline-block;
  }

  &__links {
    vertical-align: top;
    list-style-type: none;
    margin-top: 0;
  }

  &__list-element {
    margin-bottom: 4px;
  }

  &__nav-link {
    text-decoration: none;
    color: #586069;
  }

  &__nav-link:hover{
    color: #0366d6;
    text-decoration: underline;
  }
}