@import "basic-header-navigation";

.General-navigation {
  &__search-form {
    display: inline-block;
    vertical-align: middle;
  }

  &__search-input {
    width: 300px;
    height: 28px;
    background: hsla(0,0%,100%,.125);
    border: none;
    border-radius: 3px;
    padding-left: 7px;
  }

  &__search-input::placeholder {
    color: #9a9899;
  }

  &__list-of-options {
    @extend %list-of-options;
  }

  &__list-element {
    @extend %list-element;
  }

  &__link {
    color: white;
    font-weight: 600;
    text-decoration: none;
  }

  &__link:hover {
    color: #A4A4A4;
  }
}


@media (max-width: 1000px) {
  .General-navigation__list-of-options {
    flex-direction: column;
    display: flex;
  }
}