.Header {
  padding: 12px 16px;
  background: #24292e;

  &__github-logo-link, &__left-navigation {
    display: inline-block;
    vertical-align: middle;
  }

  &__left-navigation {
    margin-left: 10px;
  }

  &__github-logo-link:hover {
    svg {
      fill: hsla(0, 0%, 100%, .75);
    }
  }

  &__svg-logo {
    fill: white;
    width: 32px;
    height: 32px;
  }

  &__toggle-button {
    display: none;
    width: 18px;
  }

  &__right-navigation {
    float: right;
    margin-top: 7px;
  }
}


@media (max-width: 1000px) {
  .Header {
    display: flex;
    justify-content: space-between;

    &__left-navigation {
      display: none;
    }

    &__toggle-button {
      display: block;
    }
  }
}