@import "common-styles";

.Sidebar {
  &__title {
    margin: 0;
    font-weight: 600;
  }

  &__block {
    margin: 8px 32px 8px 0;
  }

  &__footer-link {
    color: $grey-color;
    font-size: $small-font;
    text-decoration: none;
  }

  &__footer-link:hover {
    color: $blue-color;
  }
}