.Footer__column {
  display: flex;
  flex-direction: column;
  padding: 0 1.6em 1.4em 0;
  flex: 1 0 auto;
}

.soc-link {
  font-size: 0.7em;
  color: #848d95;
  padding-right: 10px;
}

#rightmost-col {
  flex: 2;
}

.copyright .license-link {
  color: #848d95;
}
