.Hot-network-questions {
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
}

.Hot-network-questions .Featured-tags-block__title {
    font-weight: normal;
    color: #242729;
    font-size: 1.2em;

}

.Hot-network-questions h4 {
    margin-bottom: 1.4em;
}

.Hot-network-questions .Hot-network-questions__question {
    display: flex;
    text-decoration: none;
    margin-bottom: 0.7em;
}

.ordinary-link.Hot-network-questions__question-link {
    font-size: 0.75em;
    flex: 13;
}

.Hot-network-questions .favicon {
    flex: 1;
}