.Questions-type-navigation__ask-question {
    display: flex;
}

.question-nav-cell.heading {
    flex: 1 auto;
    font-family: inherit;
    font-weight: normal;
    font-size: 1.7em;
    padding-left: 24px;
    color: #0C0D0E;
}

.ask-question .Questions-type-navigation__button {
    background-color: #0095ff;
    box-shadow: inset 0 1px 0 0 rgba(102, 191, 255, 0.75), 0 0 0 0 rgba(0, 149, 255, 0);
    color: #FFF;
    display: flex;
    border-color: #07c;
    white-space: nowrap;
}

.Questions-type-navigation__button:hover {
    background-color: #007ed9;
}

.Questions-type-navigation__button:focus {
    box-shadow: inset 0 1px 0 0 rgba(102, 191, 255, 0.5), 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.Questions-type-navigation__button:active {
    background-color: #0068b3;
    box-shadow: inset 0 2px 8px 0 rgba(0, 89, 153, 0.8);
    border-color: #005999;
}

.Questions-type-navigation__ask-question.navbar {
    justify-content: flex-end;
    margin: .3em 0 1em;
}

.Questions-type-navigation__ask-question.navbar .btn-group {
    display: flex;
    margin-top: 1.2em;
}

.Select-type-buttons-group__button {
    border-radius: 0;
    border-color: #adb3b9;
    box-shadow: 0 0 0 0 rgba(145, 153, 161, 0);
    color: #6a737c;
    padding-top: .6em;
    padding-bottom: .6em;
}

.Select-type-buttons-group__button:focus, #current-chapter:focus {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5), 0 0 0 4px rgba(145, 153, 161, 0.1);
}

.Select-type-buttons-group__button:active {
    background-color: rgba(177, 192, 206, 0.15);
    border-color: #9199a1;
}

.indicator {
    position: relative;
    bottom: 1px;
    margin: 0 1px 0 -2px;
    color: #FFF;
    display: inline;
    background-color: #0077dd;
    padding: .2em .5em .25em;
    font-size: 10px;
    line-height: 1.3;
    border-radius: 2px;
}

#current-chapter {
    border-radius: .3em 0 0 .3em;
    border-color: #76808a;
    color: #3b4045;
    background-color: rgba(174, 192, 209, 0.25);
    box-shadow: 0 0 0 0 rgba(145, 153, 161, 0);
}

#rightmost-btn {
    border-radius: 0 .3em .3em 0;
}