.Featured-tags-block {
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(59, 64, 69, 0.1);
  margin-bottom: 1em;
}

.Featured-tags-block header {
  display: flex;
  padding: 0.8em 1em;
  background: #fafafb;
  color: #6a737c;
  font-size: 0.9em;
  font-weight: normal;
  border-bottom: 1px solid #e4e6e8;
}

.Featured-tags-block .Community-bulletin__icon {
  margin-right: 0.3em;
  display: flex;
}

.Featured-tags-block .Featured-tags-block__title {
  flex: 1 auto;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0;
}

.Featured-tags-block .Featured-tags-block__edit {
  color: #6a737c;
}

.Featured-tags-block .svg-icon {
  fill: #6a737c;
}

.Featured-tags-block__content {
  display: flex;
  flex-wrap: wrap;
  padding: 1.3em 0.9em;
}

.Featured-tags-block .Tag {
  margin: 0.1em 0.5em 0.8em 0;
}
