<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="positioning-layout.css">
<!--    <link rel="stylesheet" href="flex-layout.css">
    <link rel="stylesheet" href="positioning-layout.css">-->
</head>
<body>
<header class="top-bar"></header>
<div class="wrapper">
    <nav class="side-nav">
        <div class="sticky-nav"></div>
    </nav>
    <div class="content">
        <main class="Layout__main-block"></main>
        <aside class="Layout__sidebar"></aside>
    </div>
</div>
<footer class="Layout__footer"></footer>
</body>
</html>