.Question-reaction-counter {
  height: 3.46em;
  font-size: 0.69em;
  padding: 0.64em 0.55em;
  text-align: center;
  color: #848d95;

  &--votes {
    min-width: 3.46em;
  }

  &--answers {
    min-width: 4em;
    border: 1px solid transparent;
    border-radius: 3px;

    &--has-answer {
      color: #45a163;
      border-color: rgba(69, 161, 99, 0.5);
    }

    &--has-accepted-answer {
      color: #ffffff;
      background-color: #5fba7d;
    }
  }

  &--views {
    min-width: 3.64em;
    margin: 0 0.64em 0 0;
  }

  &__number {
    font-size: 1.55em;
    font-weight: 300;
    margin: 0 0 0.24em 0;
    display: block;

    &--warm-style {
      color: #9b764f;
    }
  }

  @media (max-width: 600px) {
    height: 1.46em;

    &__number {
      display: inline;
      font-weight: bold;
      font-size: 1em;
    }
    &--votes {
      padding-left: 0.8em;
    }
  }
}
