.main_content__billboard {
    position: relative;
    margin: 96px 0;
    width: 100%;
    height: 268px;
    box-sizing: border-box;
    float: left;
    display: block;
    background: #ededf0;
}

.main_content__billboard:after {
    clear: both;
    content: '';
    display: table;
}

.main_content__billboard_image_container {
    float: left;
    width: 50%;
    margin: -42px 0 -42px calc(50% - 390px);
    max-width: 374px;
    display: block;
    text-align: center;
}

.main_content__billboard_image_container.reverse_content {
    float: right;
    margin: -42px calc(50% - 390px) -42px 0;
}

.main_content__billboard_image {
    max-width: none;
    margin: 0;
    height: auto;
}

.main_content__billboard_content_wrapper {
    margin:0 calc(50% - 390px) 0 auto;
    right: 0;
    width: 50%;
    box-sizing: border-box;
    max-width: 374px;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 8px 8px 0 8px;
    min-height: 220px;
    float: left;
}

.main_content__billboard_content_wrapper.reverse_content {
    float: right;
    margin:0 auto 0 calc(50% - 390px);
}

.main_content__billboard_header {
    margin: 0 0 0.3em 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 2rem;
    line-height: 1.1111;
    font-weight: 700;
}


.main_content__billboard_content {
    padding: 0;
    margin: 0 0 5px 0;
    height: auto;
    text-align: center;
}

.main_content__billboard_link {
    margin: 0;
    padding: 0;
    border-bottom: 2px solid;
    color: #0060df;
    text-decoration: none;
    font-weight: 700;
}

