.main-content__articles {
    max-width: 1420px;
    min-width: 304px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 32px;
    align-items: start;
    border: none;
    box-sizing: border-box;
    padding-right: 96px;
    padding-left: 96px;
}

.main-content__article_col_two {
    max-width: 1420px;
    min-width: 304px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 32px;
    align-items: start;
    border: none;
    box-sizing: border-box;
    padding-right: 96px;
    padding-left: 96px;
}

.main-content__article_big {
    grid-column-start: 1;
    grid-column-end: 3;
}

.main-content__article {
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
    margin-bottom: 32px;
    padding: 0;
}

.main-content__link {
    text-decoration: none;
    display: block;
    padding: 0;
    border: none;
    margin: 0;
    color: black;

}

.main-content__img {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    display: block;
}


.main-content__post-wrapper {
    padding: 8px;
}

.main-content__note {
    line-height: 1.8;
    min-height: 25px;
    color: #4a4a4f;
    font-weight: 400;
}

.main-content__heading {
    margin: 0;
    font-size: 2rem;
    line-height: 1.1111;
    display: inline;
}

.main-content__heading_font-small {
    font-size: 1.5rem;
}

.main-content__paragraph {
    line-height: 1.1111;
}

.main-content__link:hover {
    transition: box-shadow .1s ease-in-out;
    box-shadow: 0 0 0 4px #ededf0;
}

.main-content__link:hover .main-content__post-wrapper .main-content__heading {
    text-decoration: underline;
}

.main-content__link:hover .main-content__post-wrapper .main-content__heading_font-small {
    text-decoration: underline;
}