.billboard {
    margin: 96px auto;
    height: 268px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1230px;
    min-width: 304px;
    background: #ededf0;
    align-items: start;
    border: none;
}

.billboard__image-container {
    grid-column-start: 2;
    max-width: 374px;
    display: block;
    margin: -45px 0;
    padding-left: 110px;
    text-align: center;
}

.billboard__content-wrapper_reverse {
    grid-column-start: 4;
    grid-column-end: span 5;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    max-width: 374px;
    text-align: center;
    min-height: 220px;


}
.billboard__image-container_reverse {
    grid-column-start: 9;
    max-width: 374px;
    display: block;
    margin: -45px 0;
    padding-left: 110px;
    text-align: center;
}

.billboard__image {
    max-width: none;
    margin: 0;
    height: auto;
}

.billboard__content-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    grid-column-end: span 6;
    box-sizing: border-box;
    max-width: 374px;
    text-align: center;
    min-height: 220px;
}


.billboard__header {
    padding-top: auto;
    font-size: 2rem;
    line-height: 1.1111;
    font-weight: 700;
}


.billboard__content {
    padding: 0;
    margin: 0 0 5px 0;
    height: auto;
    text-align: center;
    vertical-align: center;
}

.billboard__link {
    margin: 0;
    padding: 0;
    border-bottom: 2px solid;
    color: #0060df;
    text-decoration: none;
    font-weight: 700;
}

