.mozilla_call_out {
    background-color: #2a0140;
    display: block;
    color: #fff;
}

.mozilla_call_out_wrapper {
    grid-column-gap: 32px;
    column-gap: 32px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    max-width: 1056px;
    padding: 48px 96px;
    box-sizing: border-box;
    position: relative;

}

.mozilla_call_out_wrapper::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
}


.mozilla_call_out_content {
    box-sizing: border-box;
    grid-column: 1;
    background-position: 0 35%;
    padding: 10px 0 0 96px;
    min-height: 112px;
    background-image: url("https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png");
    background-repeat: no-repeat;
    background-size: 64px 64px;
    vertical-align: middle;
}


.mozilla_call_out_learn_more {
    color: white;
    border-color: white;
    padding: auto 0;
    text-align: center;
    vertical-align: center;
    position: center;
}

.mozilla_call_link_button_wrapper {
    text-align: center;
    padding-top: 7%;
}