.nav-menu {
    display: flex;
}

.nav-menu__item {
    width: 90px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.nav-menu__item--active {
    width: 90px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(29, 161, 242);
}

.nav-menu__item--active:hover .nav-menu__image {
    padding: 8px;
    border-radius: 100%;
    background-color: rgba(29, 161, 242, 0.1);
}

.nav-menu__item:hover .nav-menu__image {
    padding: 8px;
    border-radius: 100%;
    background-color: rgba(29, 161, 242, 0.1);
}

.nav-menu__image {
    width: 27px;
    height: 27px;
}