.profile-button {
    border: none;
    height: 33px;
    display: flex;
    padding: 0;
    align-items: center;
}

.profile-button__avatar {
    width: 33px;
    height: 33px;
    display: inline-block;
    border-radius: 999px;
}

.profile-button__title {
    display: inline-block;
    margin: 0 5px 0 10px;
    font-size: 15px;
}

.profile-button__icon {
    width: 18px;
    padding-right: 5px;;
}

.profile-button:hover {
    background-color: rgba(29, 161, 242, 0.1);
    border-radius: 999px;
}