.search-form {
    width: 390px;
    height: 33px;
    display: inline-block;
    position: relative;
}

.search-form__field {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(230, 236, 240);
    border-radius: 999px;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: 400;
    padding: 0 0 0 40px;
    color: rgb(20, 23, 26);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.search-form__image {
    width: 19px;
    height: 33px;
    left: 13px;
    position: absolute;
}