@arrow-size: 40px;
.carousel {
  display: grid;
  grid-template-columns: @arrow-size auto @arrow-size;
  grid-template-areas: ". header ." "larrow  courses rarrow" ". buttons .";
  grid-row-gap: 20px;
  max-width: 1250px;

  &__header {
    grid-area: header;
  }

  &__courses-wrapper {
    grid-area: courses;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__swap-button {
    height: @arrow-size;
    align-self: center;
    background-color: transparent;
    background-size: @arrow-size @arrow-size;
    background-position: center;

    &_left {
      grid-area: larrow;
      background-image: url("../images/left-arrow.svg");
    }

    &_right {
      grid-area: rarrow;
      background-image: url("../images/right-arrow.svg");
    }
  }

  &__navigation {
    grid-area: buttons;
    justify-self: center;
  }

  @nav-button-size: 12px;

  &__navigation-button {
    height: @nav-button-size;
    width: @nav-button-size;
    margin: 0 @nav-button-size / 2;
    padding: 0;
    border: 1px solid #9b9b9b;
    border-radius: 100%;
    background: inherit;

    &_active {
      height: @nav-button-size * 2 / 3;
      width: @nav-button-size * 2 / 3;
      background: #9b9b9b;
    }
  }
}