.movies-list-info{
    width: 670px;
}

.list-navigation__menu{
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #456;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-navigation__menu a{
    display: block;
    /*padding-right: 5px;*/
}

.list-navigation__sort-by{
    float: left;
    padding-right: 6px;
    color:#678;
    font-size: 0.655rem;
    letter-spacing: 0.05em;
}

.list-navigation__button{
    color:#678;
    font-size: 0.675rem;
    letter-spacing: 0.05em;
    cursor: default;
    float: left;
}

.list-navigation__author{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.list_navigation__author-link{
    font-family: Graphik-Semibold-Web,sans-serif;
    /*font-size: 120%;*/
}

.list-navigation__dropdown-menu, .main-header__dropdown-menu{
    padding-right: 10px;
    float: left;
}

.list-navigation__dropdown-content, .main-header__dropdown-content{
    font-size: 13px;
    display: none;
}

.main-header__main-menu .main-header__log-content{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.35),0 0 10px #000;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
}

.main-header__dropdown-content{
    min-width: 176px;
}

.list-navigation__dropdown-content, .main-header__dropdown-content, .main-header__log-content{
    padding-bottom: 4px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: #89a;
    position: absolute;
    z-index: 1;
}

.list-navigation__dropdown-content p, .main-header__dropdown-content a, .main-header__dropdown-content p, .list-navigation__dropdown-content a, .main-header__log-content a{
    font-family: Graphik-Regular-Web,sans-serif;
    color: #2c3440;
    font-size: inherit;
    padding: 4px 15px 4px;
    text-decoration: none;
    display: block;
}

.list-navigation__dropdown-content p:hover,.main-header__dropdown-content a:hover, .main-header__dropdown-content p:hover, .list-navigation__dropdown-content a:hover, .main-header__log-content a:hover{
    background: #678;
    color: #fff;
    text-shadow: rgba(0,0,0,.05) 0 1px 0;
}

.list-navigation__dropdown-menu:hover .list-navigation__dropdown-content, .main-header__dropdown-menu:hover .main-header__dropdown-content{
    display: block;
}

.list-navigation__author a, p{
    font-weight: 400;
    color: #9ab;
    padding-right: 10px;
    /*padding-left: 15px;*/
}


.list-name{
    font-size: 22px;
    font-family: Graphik-Semibold-Web,sans-serif;
}

.info-text{
    font-size: 16px;
    line-height: 150%;
    font-family: TiemposTextWeb-Regular,Georgia,serif;
}

.list-navigation__patron{
    background-color: #209cd4;
    border-radius: 3px;
    color: white;
    font-size: 9px;
    padding: 3px 3px .5px;
}

#timestamp_on-hover{
    text-decoration: none;
    font-size: 12px;
    color: #678;
    margin: 0 0;
}

.list-navigation__arrow-down{
    float: left;
    /*padding-left: -20px;*/
    margin-top: 2px;
    background-position: -370px -100px;
    width: 10px;
    height: 10px;
}

.list-navigation__arrow-down:hover{
    background-position: -370px -110px;
    width: 10px;
    height: 10px;
}

.list-navigation__categories{
    overflow: visible;
    display: flex;
    align-items: center;
    margin: 4.6px 0;
}

.list-navigation__categories li{
    display: block;
    padding-right: 10px;
    padding-left: 10px;
}

.closed-eye-icon, .open-eye-icon{
    width: 17px;
    height: 16px;
}
.closed-eye-icon{
    float: left;
    background-position: -240px -350px;
}
.open-eye-icon{
    float: left;
    background-position: -260px -350px;
}

.active-grid{
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-position: -360px -515px;
}

.non-active-list {
    background-position: -385px -475px;
    width: 20px;
    height: 20px;
}
.non-active-list:hover{
    background-position: -385px -495px;
    width: 20px;
    height: 20px;
}


.grid-list-eye{
    cursor: pointer;
    position: relative;
}

.tooltip{
    visibility: hidden;
    width: 50px;
    background-color: white;
    color: black;
    top:100%;
    right:100%;
    margin-right: -75px;
    position: absolute;
    z-index: 1;
    font-size: 11px;
    letter-spacing: 0;
    padding: 2px;
}

.non-active-list:hover .tooltip, .active-grid:hover .tooltip{
    visibility: visible;
}