$grid-columns-number: 12;
$grid-width: 960px;
$cell-width: 70px;
$cell-margin: (($grid-width - ($cell-width * $grid-columns-number))/ ($grid-columns-number - 1));

.Grid {
  width: $grid-width;
  margin: 0 auto;
  background: gold;

  &__row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: $cell-margin;
  }

  &__cell {
    align-self: start;
    @for $i from 1 through $grid-columns-number {
      &_#{$i} {
        grid-column-end: span $i;
        //width: $cell-width * $i + ($cell-margin * ($i - 1));
        background: #2980b9;

        &_parent {
          display: inline-grid;
          grid-template-columns: repeat($i, 1fr);
          grid-column-gap: $cell-margin;
        }
      }
    }

    @for $i from 1 through $grid-columns-number - 1 {
      &_push-#{$i} {
        grid-column-start: ($i + 1);
      }
    }
  }
}