.footer__sections {
    border-bottom: 1px solid #38383d;
    overflow: hidden;
    padding-bottom: 48px;
}

.footer__section {
    float: left;
    display: block;
    margin-bottom: 8px;
    padding: 0 24px;
    width: calc(25% - (48px - (48px / 4)));
}

.footer__section:first-of-type {
    padding-left: 0;
}

.footer__section:last-child {
    padding-right: 0;
}

.footer__section-heading {
    border-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
    padding: 8px 0;
    text-align: left;
}