.Account__background {
  background-color: #1da1f2;
  height: 95px;
}

.Account__profile-name {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 185px;
  margin-right: 13px;
  padding-top: 10px;
}

.Account__user-name {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.user-name__link {
  color: #14171a;
}

.Account__tag {
  margin-top: 2px;
  font-size: 14px;
  color: #657786;
}

.Account__user-name:hover,
.Account__user-name:focus,
.Account__shortcut:hover,
.Account__shortcut:focus {
  text-decoration: underline;
}

.Account__statistic {
  font-weight: bold;
  margin: 12px 0 0 16px;
  display: flex;
}

.statistic__Following,
.statistic__Tweets {
  display: block;
  height: 37px;
  width: 121px;
}

.statistic__name {
  font-size: 12px;
  display: block;
  color: #657786;
}
.statistic__Following:hover .statistic__name,
.statistic__Tweets:hover .statistic__name {
  color: #1da1f2;
}
.statistic__info {
  padding-top: 3px;
  font-size: 18px;
  color: #1da1f2;
}
