.account__background {
  background-color: #1da1f2;
  height: 95px;
}

.account__profile-name {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 185px;
  margin-right: 13px;
  padding-top: 10px;
}

.account__user-name {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.account__link {
  color: #14171a;
}

.account__tag {
  margin-top: 2px;
  font-size: 14px;
  color: #657786;
}

.account__user-name:hover,
.account__user-name:focus,
.account__shortcut:hover,
.account__shortcut:focus {
  text-decoration: underline;
}

.account__statistic {
  font-weight: bold;
  margin: 12px 0 0 16px;
  display: flex;
}
