.layout__header {
  background: #ffffff;
  position: sticky;
  top: 0;
  height: 46px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.layout__main-page {
  max-width: 1218px;
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
