.left-aside-wrapper__trends,
.left-aside-wrapper__account {
  background: #ffffff;
  border: 1px solid #e6ecf0;
  margin-top: 10px;
}
.left-aside-wrapper__account {
  border-top: none;
  display: flex;
  flex-direction: column;
  height: 209px;
}
.left-aside-wrapper__trends {
  height: 482px;
  padding: 15px;
}
