.left-aside-wrapper {
  &__trends,
  &__account {
    background: #ffffff;
    border: 1px solid #e6ecf0;
    margin-top: 10px;
  }

  &__account {
    position: relative;
    border-top: none;
    display: flex;
    flex-direction: column;
    max-height: 209px;
  }

  &__trends {
    max-height: 482px;
    padding: 15px;
  }
}
