.main-page__left-aside-wrapper,
.main-page__right-aside-wrapper {
  margin: 0;
  width: 290px;
  display: flex;
  flex-direction: column;
}
.main-page__news-feed {
  display: flex;
  flex-direction: column;
  width: 590px;
  height: 100%;
  background: #ffffff;
  margin: 10px 10px 0 10px;
}
