.other-contacts {
  &__gmail-button {
    border: 1px solid #e6ecf0;
    height: 38px;
    width: 35px;
    padding: 6px 4px;
    float: left;
    background: #ffffff;
    margin-right: 7px;
  }

  &__gmail-icon {
    width: 24px;
    height: 24px;
  }

  &__topic {
    font-size: 14px;
  }

  &__text {
    color: #657786;
    font-size: 12px;
    margin: 0 auto;
  }
}
