.recommendations-header {
  &__topic,
  &__action {
    display: inline;
    padding: 0;
    margin: 0;
    border: none;
    background: #ffffff;
  }

  &__link {
    color: #1da1f2;
  }

  &__action:hover &__link {
    text-decoration: underline #1da1f2;
  }

  &__action:before {
    content: "\00B7";
    color: black;
    padding-right: 0;
  }
}
