.Right-aside-wrapper__Recommendations,
.Right-aside-wrapper__copyright-ads {
  background: #ffffff;
  border: 1px solid #e6ecf0;
  margin-top: 10px;
}
.Right-aside-wrapper__Recommendations {
  padding: 15px;
  margin-top: 10px;
  height: auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}
.Right-aside-wrapper__info-ads {
  display: block;
  padding: 15px;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
}
.Right-aside-wrapper__info-link,
.Right-aside-wrapper__info-link-icon {
  display: inline;
  font-size: 12px;
  color: #47acf7;
  margin-right: 8px;
}
