.right-aside-wrapper {
  &__recommendations,
  &__copyright-ads {
    background: #ffffff;
    border: 1px solid #e6ecf0;
    margin-top: 10px;
  }

  &__recommendations {
    padding: 15px;
    margin-top: 10px;
    height: auto;
    background: #ffffff;
    display: flex;
    flex-direction: column;
  }

  &__info-ads {
    display: block;
    padding: 15px;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
  }

  &__info-link,
  &__info-link-icon {
    display: inline;
    font-size: 12px;
    color: #47acf7;
    margin-right: 8px;
  }

  &__info-link:hover {
    text-decoration: underline;
  }
}
