.Site-navigation {
  display: flex;
  height: 46px;
  align-items: center;
  font-size: 13px;
}

.Site-navigation__link,
.Site-navigation__button {
  color: #66757f;
  fill: #66757f;
  box-sizing: border-box;
  margin: 0;
  height: 46px;
  width: 90px;
  background: #ffffff;
  font-size: 13px;
  font-weight: bold;
  padding: 0 14px 0 4px;
}

.Site-navigation__button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: none;
  width: 115px;
}
.Site-navigation__link {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ffffff;
}

.Site-navigation__link_wider {
  width: 132px;
}

.Site-navigation__link_active,
.Site-navigation__link:focus,
.Site-navigation__button:focus,
.Site-navigation__link:hover,
.Site-navigation__button:hover {
  border-bottom: 2px solid #1c94e0;
  fill: #1c94e0;
  color: #1da1f2;
}
.Site-navigation__icon {
  height: 23px;
  width: 23px;
  margin-left: 10px;
  margin-right: 3px;
}
