.tweet-form__avatar {
  height: 32px;
  border-radius: 50%;
}

.tweet-form__input {
  border: 1px solid #c6e7fb;
  border-radius: 8px;
  font-size: 14px;
  height: 36px;
  margin-left: 10px;
  color: #0097dd;
  width: 490px;
  padding-left: 8px;
}

.tweet-form__gallery-button-icon {
  fill: #0097dd;
  width: 20px;
  height: 25px;
  border: none;
}

.tweet-form__gallery-button {
  bottom: 2px;
  position: relative;
  right: 15px;
  margin: 0 0 0 -20px;
  padding: 0;
  background: #ffffff;
  border: none;
  width: 20px;
  height: 20px;
}
