.tweet-header {
  &__nickname {
    font-weight: bold;
  }

  &__tag {
    color: #657786;
  }

  &__tag:after {
    content: "\00B7";
    margin: 0 4px;
  }

  &__time {
    color: #657786;
  }

  &__nickname_verified:after {
    padding-left: 2px;
    margin-right: 5px;
    color: #1da1f2;
    font-size: 0.7em;
  }
}

.fa-check-circle {
  padding-left: 2px;
  margin-right: 5px;
  color: #1da1f2;
  font-size: 0.7em;
}
