.tweet-footer {
  &__button {
    padding: 0;
    font-size: 12px;
    border: none;
    background: #ffffff;
    margin-right: auto;
    font-weight: bold;
    color: #657786;
  }

  &__button:hover {
    color: #1da1f2;
  }

  &__retweet:hover {
    color: #17bf63;
  }

  &__icon {
    font-size: 14px;
    margin-right: 8px;
    color: #657786;
  }

  &__message {
    font-size: 14px;
  }

  &__like:hover {
    color: #e0245e;
  }
}
