header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__wrapper

.header__wrapper h1 {
    content: "";
    width: 32px;
    height: 32px;
    background: url("../images/GitHubIcon.svg");
    margin: 0;
}