body {
  margin: 0;
  padding: 0;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
.Header__wrapper--left, .Header__wrapper--right {
  display: flex;
  align-items: center;
}
.Header__icon img {
  width: 32px;
  height: 32px;
}
.Header__form {
  height: 28px;
  width: 300px;
  position: relative;
  background: rgba(255, 255, 255, 0.125);
  border-radius: 3px;
  margin: 0 16px;
}
.Header__form::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 9px;
  display: block;
  width: 19px;
  height: 20px;
  background: url("../../images/search-key-slash.svg");
}
.Header__input {
  height: 28px;
  width: 257px;
  border: none;
  background: none;
  border-radius: 3px;
  padding: 0 8px;
}
.Header__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}
.Header__nav-item {
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  text-decoration: none;
  margin-right: 16px;
}
.Header__nav-item:hover {
  color: rgba(255, 255, 255, 0.7);
}
.Header__notification {
  width: 14px;
  height: 16px;
  margin-right: 16px;
  background: url("../../images/bell.svg");
}
.Header__button {
  position: relative;
  border: none;
  background: yellow;
  margin-right: 16px;
  height: 32px;
  display: flex;
  align-items: center;
}
.Header__button--plus {
  width: 12px;
  background: url("../../images/plus.svg") no-repeat;
}
.Header__button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 4px;
  display: block;
  background: url("../../images/dropdown.svg");
}

body {
  margin: 0;
  padding: 0;
}

.ProfileInfo__avatar {
  width: 230px;
  border-radius: 3px 3px 0 0;
  border: 1px solid #e1e4e8;
  box-sizing: border-box;
  border-bottom: 0;
}
.ProfileInfo__avatar-footer {
  width: 227px;
  height: 49px;
  margin-top: -6px;
  border-bottom: 1px solid #e1e4e8;
  border-radius: 0 0 3px 3px;
  border-left: 1px solid #e1e4e8;
  border-right: 1px solid #e1e4e8;
}
.ProfileInfo__icon-wrapper {
  border-radius: 50%;
  display: flex;
  background-color: #FFF;
  position: absolute;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: -14px;
  margin-left: 15px;
}
.ProfileInfo__icon {
  width: 18px;
  height: 18px;
}
.ProfileInfo__status {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: #24292e;
  position: absolute;
  font-size: 12px;
  margin-top: 24px;
  margin-left: 12px;
  text-decoration: none;
}
.ProfileInfo__name {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin: 16px 0 0;
  color: #24292e;
  font-size: 26px;
  font-weight: 600;
}
.ProfileInfo__nickname {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: #6a737d;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}
.ProfileInfo__separator {
  margin-top: 16px;
  margin-bottom: 18px;
  border: 0;
  height: 1px;
  background: #ddd;
}

/*# sourceMappingURL=profile.css.map */
