.Header{
  padding: 0 1em;
  line-height: 1.5;
  display: flex;
  &__logo{
    display: inline-block;
    align-self: center;
    &-inverted{
      filter: invert(100%);
    }
  }
  &__search{
    margin-left: 12px;
    display: inline-block;
    height: 30px;
    padding: 0.2em 0;
    background-color: hsla(0,0%,100%,.125);
  }
}