$small-font: 12px;
$medium-font: 14px;
$big-font: 16px;
$grey-color: #6a737d;
$blue-color: #0366d6;

%basic-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

%basic-link-hover {
  color: $blue-color;
}

%underscored {
  border-bottom: 1px solid #D2D6D7;
}
