.Layout {
  display: flex;
  height: 1000px;

  &__navigation {
    max-width: 350px;
    width: 25%;
    border-right: 1px solid #D2D6D7;
    background: white;
  }

  &__main {
    width: 50%;
  }

  &__sidebar {
    max-width: 350px;
    width: 25%;
    margin-top: 32px;
  }

  &__navigation-content {
    position: sticky;
    top: 0;
  }

  &__main, &__navigation-content {
    margin-top: 16px;
  }
}