@import "common-styles";

.News {
  display: flex;
  padding: 16px 0;
  margin: 0 16px;

  &__user-link {
    margin-right: 16px;
  }

  &__user-photo {
    width: 32px;
    height: 32px;
    border-radius: 3px;
  }

  &__content {
    width: 100%;
  }

  &__post-info {
    margin-top: 5px;
  }

  &__post-info-link {
    @extend %basic-link;
  }

  &__post-info-link:hover {
    @extend %basic-link-hover;
  }

  &__post-time {
    font-size: 12px;
    color: #6a737d;
  }

  &--underscored {
    @extend %underscored;
  }
}