$header-height: 64px;
$aside-width: 230px;
$article-width: 730px;
$main-width: $aside-width + $article-width + 20px;

$font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-big: 20px;
$font-size-very-big: 26px;

$font-weight-normal: 400;
$font-weight-bold: 600;

$font-color: rgba(255, 255, 255, 0.4);

$item-color: rgb(255, 255, 255);
$item-color-hover: hsla(0, 0%, 100%, .7);

body {
  margin: 0;
  padding: 0;
}