.Link {
    display: flex;
    align-items: center;
    border-radius: 999px;
    text-decoration: none;
}
@media all and (max-width: 980px){
    .Header__nav-link_home{
        display: none;
    }
}